<nav class="appnav">
  <ul class="mainnav hide-for-medium-down">
    <li><%= link_to 'Cookbooks', cookbooks_directory_path, 'data-hover' => 'Cookbooks', :rel => 'cookbooks' %></li>
    <% if ROLLOUT.active?(:cla) %>
      <li><%= link_to 'Contributors', contributors_path, 'data-hover' => 'Contributors', :rel => 'contributors' %></li>
    <% end %>
    <% if ROLLOUT.active?(:tools) %>
      <li><%= link_to 'Tools & Plugins', tools_directory_path %></li>
    <% end %>
    <li class="more-info"><a>More Info</a></li>
  </ul>
  <div class="usermenu">
  <% if !signed_in? %>
    <ul>
      <li class="sign_in_create_account"><%= link_to 'Create Account', chef_sign_up_url %></li>
      <li class="sign_in_create_account"><%= link_to 'Sign In', sign_in_path, rel: 'sign_in' %></li>
    </ul>
  <% else %>
    <%= gravatar_for current_user, size: 80 %>
    <%= current_user.username %> <i class="fa fa-caret-down"></i>
    <ul class="userdropdown">
      <li><%= link_to 'View Profile', current_user, class: 'fa fa-user', rel: 'view_profile' %></li>
      <li><%= link_to 'Manage Profile', edit_profile_path, class: 'fa fa-cog', rel: 'manage_profile' %></li>

      <% if ROLLOUT.active?(:cla) && ROLLOUT.active?(:github) %>
        <% unless current_user.signed_icla? %>
          <li><%= link_to 'Sign ICLA', new_icla_signature_path, class: 'fa fa-file-text', rel: 'sign_icla' %></li>
        <% end %>

        <li><%= link_to 'Sign CCLA', new_ccla_signature_path, class: 'fa fa-file-text', rel: 'sign_ccla' %></li>
      <% end %>

      <% if current_user && current_user.is?(:admin) && ROLLOUT.active?(:cla) && ROLLOUT.active?(:github) %>
        <li>
          <%= link_to "Configure Curry", curry_repositories_url, :class => 'fa fa-github', rel: 'manage_repositories' %>
        </li>
      <% end %>

      <li><%= link_to 'Sign Out', sign_out_path, :class => 'fa fa-power-off', method: :delete, rel: 'sign_out' %></li>
    </ul>
  <% end %>
  </div>
</nav>
