<nav class="appnav">
  <ul class="mainnav hide-for-medium-down">
    <li><%= link_to 'Cookbooks', cookbooks_directory_path, 'data-hover' => 'Cookbooks', :rel => 'cookbooks' %></li>
    <% if Feature.active?(:tools) %>
      <li><%= link_to 'Tools & Plugins', tools_directory_path %></li>
    <% end %>
    <li class="more-info"><a>More Info</a></li>
  </ul>
  <div class="usermenu">
  <% if !signed_in? %>
    <ul>
      <li class="sign_in_create_account"><%= link_to 'Create Account', chef_sign_up_url %></li>
      <li class="sign_in_create_account"><%= link_to 'Sign In', auth_path(:chef_oauth2), rel: 'sign_in', method: :post %></li>
    </ul>
  <% else %>
    <%= gravatar_for current_user, size: 80 %>
    <%= current_user.username %> <i class="fa fa-caret-down"></i>
    <ul class="userdropdown">
      <li><%= link_to '<i class="fa fa-user"></i> View Profile'.html_safe, current_user, rel: 'view_profile' %></li>
      <li><%= link_to '<i class="fa fa-cog"></i> Manage Profile'.html_safe, edit_profile_path, rel: 'manage_profile' %></li>

      <li><%= link_to '<i class="fa fa-power-off"></i> Sign Out'.html_safe, sign_out_path, method: :delete, rel: 'sign_out' %></li>
    </ul>
  <% end %>
  </div>
</nav>
