<div class="sidebar" data-equalizer-watch>
  <%= render 'resources/owner', resource: tool %>
  <%= render 'resources/collaborators', collaborators: collaborators, resource: tool %>

  <% if policy(tool).manage? %>
    <%= render 'manage_tool', tool: tool %>
  <% end %>

  <% if tool.up_for_adoption? %>
    <div>
      <%= link_to 'Adopt me!', adoption_tool_path(tool), method: :post, class: 'button radius tiny' %>
    </div>
  <% end %>

  <h3>Details</h3>
  <div class="tool-details">
    <div class="tool-urls">
      <%= link_to 'View Source', tool.source_url, class: 'button secondary radius tiny source-url', itemprop: 'codeRepository' %>
    </div>
  </div>

  <% if other_tools.any? %>
    <div class="other">
      <h3>Other tools by <%= tool.owner.name %></h3>
      <ul class="simple_listing">
        <% @other_tools.each do |tool| %>
          <%= render 'simple_tool', tool: tool %>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
