<li itemscope itemtype="http://schema.org/Code">
  <div class="header">
    <div class="header-content">
      <h2 class="title">
        <%= link_to tool.name, tool, rel: 'view_tool', itemprop: 'name' %>
      </h2>
      <span class="meta">
        <i class="fa fa-wrench"></i> <span itemprop="sampleType"><%= pretty_type(tool.type) %></span>
      </span>
      <div class="owner">
        <%= link_to tool.owner do %>
          <%= gravatar_for tool.owner, size: 128 %>
          <h5 itemprop="author"><%= tool.maintainer %></h5>
        <% end %>
      </div>
    </div>
  </div>
  <% if tool.description.present? || tool.instructions.present? %>
    <div class="body">
      <div class="body-content">
        <%= simple_format tool.description, itemprop: 'description' %>
      </div>
    </div>
  <% end %>
  <div class="bottom">
    <div class="bottom-content">
      <% if tool.source_url.present? %>
        <%= link_to 'View Source', tool.source_url, class: 'button tiny radius secondary', target: '_blank', itemprop: 'codeRepository' %>
      <% end %>

      <% if policy(tool).update? %>
        <%= link_to 'Edit', edit_tool_path(tool), class: 'button tiny radius secondary', rel: 'edit_tool' %>
      <% end %>

      <% if policy(tool).destroy? %>
        <%= link_to 'Delete', tool_path(tool), method: :delete, class: 'button tiny radius alert', 'data-confirm' => t('tool.confirm_deletion', name: tool.name), rel: 'delete_tool' %>
      <% end %>
    </div>
  </div>
</li>
