<li>
  <div class="header">
    <div class="header-content">
      <h2 class="title">
        <%= link_to tool.name, tool, rel: 'view_tool' %>
      </h2>
      <span class="meta">
        <i class="fa fa-wrench"></i> <%= tool.type.titleize %>
      </span>
      <div class="owner">
        <%= link_to tool.owner do %>
          <%= gravatar_for tool.owner, size: 128 %>
          <h5><%= tool.maintainer %></h5>
        <% end %>
      </div>
    </div>
  </div>
  <div class="body">
    <div class="body-content">
      <p>
        <%= tool.description %>
      </p>
      <code class="install"><%= tool.instructions %></code>
    </div>
  </div>
  <div class="bottom">
    <div class="bottom-content">
      <%= link_to 'View Source', tool.source_url, class: 'button tiny radius secondary', target: '_blank' %>

      <% if policy(tool).update? %>
        <%= link_to 'Edit', edit_tool_path(tool), class: 'button tiny radius secondary', rel: 'edit_tool' %>
      <% end %>

      <% if policy(tool).destroy? %>
        <%= link_to 'Delete', tool_path(tool), method: :delete, class: 'button tiny radius alert', 'data-confirm' => t('tool.confirm_deletion', name: tool.name), rel: 'delete_tool' %>
      <% end %>
    </div>
  </div>
</li>
