<%= provide(:title, "Add new Tool") %>

<div class="page profile" data-equalizer>
  <%= render 'users/sidebar' %>

  <div class="main" data-equalizer-watch>
    <%= render 'users/heading', user: @user, title: "#{posessivize(@user.name)} Tools" %>

    <dl class="tabs radius">
      <dd class="<%= 'active' if current_page?(tools_user_path(@user)) %>"><%= link_to 'Maintains', tools_user_path(@user), rel: 'view_tools' %></dd>
      <% if @user == current_user %>
        <dd class="<%= 'active' if current_page?(new_tool_path) %>"><%= link_to 'Add Tool', new_tool_path, rel: 'add_tool' %></dd>
      <% end %>
    </dl>

    <div class="tabs-content">
      <div class="content active">
      <%= form_for(@tool, data: { abide: true }) do |f| %>
        <%= render 'application/form_errors', record: @tool %>

        <div class="name-field">
          <%= f.text_field :name, placeholder: 'Name *', title: 'Name', required: '' %>
          <small class="error">Name is required.</small>
        </div>

        <div class="type-field">
          <% Tool::ALLOWED_TYPES.each_with_index do |type, index| %>
            <%= f.radio_button :type, type, index == 0 ? { checked: true } : {} %>
            <label for="tool_type_<%= type %>"><%= type.titleize %></label>
          <% end %>
        </div>

        <div class="description-field">
          <%= f.text_area :description, placeholder: 'Description', title: 'Description', rows: 4 %>
        </div>

        <div class="sourl_url-field">
          <%= f.text_field :source_url, placeholder: 'Source URL', title: 'Source URL' %>
        </div>

        <div class="instructions-field">
          <%= f.text_area :instructions, placeholder: 'Install & Usage Instructions', title: 'Instructions', rows: 6 %>
        </div>

        <section>
          <%= f.submit 'Add Tool', class: 'radius button expand' %>
        </section>
      <% end %>
    </div>
  </div>
</div>
