<%= provide(:title, "Add new Tool") %>

<div class="page withspace">
  <h1>Add a New Tool</h1>

  <%= form_for(@tool, data: { abide: true }) do |f| %>
    <div class="name-field">
      <%= f.text_field :name, placeholder: 'Name *', title: 'Name', required: '' %>
      <small class="error">Name is required.</small>
    </div>

    <div class="type-field">
      <%= f.radio_button :type, "knife_plugin", checked: true %>
      <label for="tool_type_knife_plugin">Knife Plugin</label>
      <%= f.radio_button :type, "ohai_plugin" %>
      <label for="tool_type_ohai_plugin">Ohai Plugin</label>
      <%= f.radio_button :type, "chef_tool" %>
      <label for="tool_type_chef_tool">Chef Tool</label>
    </div>

    <div class="description-field">
      <%= f.text_area :description, placeholder: 'Description', title: 'Description' %>
    </div>

    <div class="sourl_url-field">
      <%= f.text_field :source_url, placeholder: 'Source URL', title: 'Source URL' %>
    </div>

    <div class="instructions-field">
      <%= f.text_area :instructions, placeholder: 'Install & Usage Instructions', title: 'Instructions' %>
    </div>

    <section>
      <%= f.submit 'Add Tool', class: 'radius button expand' %>
    </section>
  <% end %>
</div>
