<h1>Create an Account</h1>

<div class="row collapse">
  <div class="small-7 columns">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { abide: true }) do |f| %>
      <%= render 'application/form_errors', record: resource %>

      <div class="firstname-field">
        <%= f.text_field :first_name, placeholder: 'First Name *',  title: 'First Name', required: '', pattern: 'alpha_numeric' %>
        <small class="error">First name is required.</small>
      </div>
      <div class="lastname-field">
        <%= f.text_field :last_name, placeholder: 'Last Name *',  title: 'Last Name', required: '', pattern: 'alpha_numeric' %>
        <small class="error">Last name is required.</small>
      </div>
      <div class="email-field">
        <%= f.email_field :email, placeholder: 'Email *',  title: 'Email', required: '', pattern: 'email' %>
        <small class="error">Valid email is required.</small>
      </div>
      <div class="password-field">
        <%= f.password_field :password, placeholder: 'Password *',  title: 'Password', required: '', pattern: 'password' %>
        <small class="error">Password is required.</small>
      </div>
      <div class="confirmpassword-field">
        <%= f.password_field :password_confirmation, placeholder: 'Confirm Password *',  title: 'Confirm Password', required: '', pattern: 'password' %>
        <small class="error">Confirm password is required.</small>
      </div>

      <%= f.submit 'Create Account', class: 'button primary radius expand' %>
    <% end %>
  </div>
  <div class="small-5 small-offset-1 columns">
    <%= render 'devise/shared/links' %>
  </div>
</div>
