<fieldset>
  <legend>Name</legend>
  <div class="prefix-field">
    <%= f.text_field :prefix, placeholder: 'Prefix',  title: 'Prefix' %>
  </div>
  <div class="firstname-field">
    <%= f.text_field :first_name, placeholder: 'First Name *', title: 'First Name', required: '' %>
    <small class="error">First Name is required.</small>
  </div>
  <div class="middlename-field">
    <%= f.text_field :middle_name, placeholder: 'Middle Name', title: 'Middle Name' %>
  </div>
  <div class="lastname-field">
    <%= f.text_field :last_name, placeholder: 'Last Name *', title: 'Last Name', required: '' %>
    <small class="error">Last Name is required.</small>
  </div>
  <div class="suffix-field">
    <%= f.text_field :suffix, placeholder: 'Suffix', title: 'Suffix' %>
  </div>
</fieldset>

<fieldset>
  <legend>Contact</legend>
  <div class="phone-field">
    <%= f.telephone_field :phone, placeholder: 'Phone *', title: 'Phone', required: '' %>
    <small class="error">Telephone number is required.</small>
  </div>
  <div class="email-field">
    <%= f.email_field :email, placeholder: 'Email *', title: 'Email', required: '', pattern: 'email' %>
    <small class="error">Valid email is required.</small>
  </div>
</fieldset>

<fieldset>
  <legend>Address</legend>
  <div class="addressline1-field">
    <%= f.text_field :address_line_1, placeholder: 'Address Line 1 *', title: 'Address Line 1', required: '' %>
    <small class="error">Address is required.</small>
  </div>
  <div class="addressline2-field">
    <%= f.text_field :address_line_2, placeholder: 'Address Line 2', title: 'Address Line 2' %>
  </div>
  <div class="city-field">
    <%= f.text_field :city, placeholder: 'City *', title: 'City', required: '' %>
    <small class="error">City is required.</small>
  </div>
  <div class="stateprovince-field">
    <%= f.text_field :state, placeholder: 'State or Province *', title: 'State or Province', required: '' %>
    <small class="error">State or province is required.</small>
  </div>
  <div class="postcalcode-field">
    <%= f.text_field :zip, placeholder: 'Postal Code *', title: 'Postal Code', required: '' %>
    <small class="error">Postal code is required.</small>
  </div>
  <div class="country-field">
    <%= f.text_field :country, placeholder: 'Country *', title: 'Country', required: '' %>
    <small class="error">Country is required.</small>
  </div>
</fieldset>

<%= f.hidden_field :user_id %>
<%= f.hidden_field :icla_id %>

<div class="tos-field">
  <%= f.check_box :agreement, required: '' %>
  <%= label_tag :icla_signature_agreement, "I have read & accept the agreement terms" %>
  <small class="error">Accepting the agreement terms is required.</small>
</div>
