<form class="cookbook_search">
  <input type="search" class="cookbook_search_textfield">
  <input type="submit" class="cookbook_search_button">
</form>
<section class="cookbook_stats">
  <ul>
    <li>
      <h3>56 <small>Recently Updated</small></h3>
    </li>
    <li>
      <h3>1,465 <small>Cookbooks</small></h3>
    </li>
    <li>
      <h3>325,292 <small>Downloads</small></h3>
    </li>
    <li>
      <h3>2,000 <small>Collaborators</small></h3>
    </li>
  </ul>
</section>
<section class="cookbook_body">
  <aside class="cookbook_sidebar">
    <h4 class="cookbook_sidebar_heading">Categories</h4>

  </aside>
  <article class="cookbook_content">

    <h2 class="cookbook_content_heading">
      <i class="fa fa-folder"></i>
      Recently Updated
      <small>
        <span class="label secondary radius">56</span>
        <a href="#" class="rss_feed_link"><i class="fa fa-rss"></i> RSS</a>
      </small>
      <a href="#" class="button radius tiny right">View All</a>
    </h2>


  </article>
</section>

<div class="contributors">
  <%= render 'contributors_list_heading' %>

  <table>
    <thead>
      <tr>
        <th>Contributor</th>
        <th>Company</th>
        <th>Date</th>
        <th>GitHub</th>
        <th>Jira</th>
      </tr>
    </thead>
    <tbody>
      <% @icla_signatures.each do |icla_signature| %>
        <tr>
          <td><%= link_to icla_signature.user.name, icla_signature.user %></td>
          <td><%= icla_signature.company %></td>
          <td><%= icla_signature.signed_at.to_date.to_s(:long) %></td>
          <td>
            <% icla_signature.user.accounts.for('github').each do |account| %>
              <%= link_to account.username, "https://www.github.com/#{account.username}", target: :blank %>
            <% end %>
          </td>
          <td><%= icla_signature.user.jira_username %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
