<%= form_for @icla_signature do |f| %>
  <div class="error-messages">
    <% if @icla_signature.errors.present? %>
      <p>There were some problems submitting the form:</p>
      <ul>
        <% @icla_signature.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <fieldset class="name">
    <%= f.text_field :prefix, placeholder: 'Prefix',  title: 'Prefix', autofocus: true %>
    <%= f.text_field :first_name, placeholder: 'First Name *', title: 'First Name', required: true %>
    <%= f.text_field :middle_name, placeholder: 'Middle Name', title: 'Middle Name' %>
    <%= f.text_field :last_name, placeholder: 'Last Name *', title: 'Last Name', required: true %>
    <%= f.text_field :suffix, placeholder: 'Suffix', title: 'Suffix' %>
  </fieldset>
  <fieldset class="contact">
    <%= f.text_field :company, placeholder: 'Company', title: 'Company' %>
    <%= f.telephone_field :phone, placeholder: 'Phone *', title: 'Phone', required: true %>
    <%= f.email_field :email, placeholder: 'Email *', title: 'Email', required: true %>
  </fieldset>
  <fieldset class="address">
    <%= f.text_field :address_line_1, placeholder: 'Address Line 1 *', title: 'Address Line 1', required: true %>
    <%= f.text_field :address_line_2, placeholder: 'Address Line 2', title: 'Address Line 2' %>
    <%= f.text_field :city, placeholder: 'City *', title: 'City', required: true %>
    <%= f.text_field :state, placeholder: 'State or Province *', title: 'State or Province', required: true %>
    <%= f.text_field :zip, placeholder: 'Postal Code *', title: 'Postal Code', required: true %>
    <%= f.text_field :country, placeholder: 'Country *', title: 'Country', required: true %>
  </fieldset>
  <fieldset class="end">
    <div class="agreement">
      <%= f.check_box :agreement %>
      <%= f.label :agreement, 'I agree to the terms of this agreement' %>
    </div>
    <%= submit_tag 'Sign ICLA' %>
  </fieldset>
<% end %>
