<%= form_for @icla_signature do |f| %>
  <h1>Individual Contributor License Agreement (ICLA)</h1>
  <header>
    <section class="about">
      <p>You've been asked to sign an ICLA as part of the <%= link_to 'Community Contributions', 'http://docs.opscode.com/community_contributions.html', :target => :blank %> process. Read the document below and fill in the form for your ICLA to be filed. Thanks!</p>
    </section>
    <%= render_markdown(@icla_signature.icla.head) %>
  </header>
  <% if @icla_signature.errors.present? %>
    <div class="error-messages">
      <p>There were some problems submitting the form:</p>
      <ul>
        <% @icla_signature.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset class="name">
    <%= f.text_field :prefix, placeholder: 'Prefix',  title: 'Prefix', autofocus: true %>
    <%= f.text_field :first_name, placeholder: 'First Name *', title: 'First Name', required: true %>
    <%= f.text_field :middle_name, placeholder: 'Middle Name', title: 'Middle Name' %>
    <%= f.text_field :last_name, placeholder: 'Last Name *', title: 'Last Name', required: true %>
    <%= f.text_field :suffix, placeholder: 'Suffix', title: 'Suffix' %>
  </fieldset>
  <fieldset class="contact">
    <%= f.text_field :company, placeholder: 'Company', title: 'Company' %>
    <%= f.telephone_field :phone, placeholder: 'Phone *', title: 'Phone', required: true %>
    <%= f.email_field :email, placeholder: 'Email *', title: 'Email', required: true %>
  </fieldset>
  <fieldset class="address">
    <%= f.text_field :address_line_1, placeholder: 'Address Line 1 *', title: 'Address Line 1', required: true %>
    <%= f.text_field :address_line_2, placeholder: 'Address Line 2', title: 'Address Line 2' %>
    <%= f.text_field :city, placeholder: 'City *', title: 'City', required: true %>
    <%= f.text_field :state, placeholder: 'State or Province *', title: 'State or Province', required: true %>
    <%= f.text_field :zip, placeholder: 'Postal Code *', title: 'Postal Code', required: true %>
    <%= f.text_field :country, placeholder: 'Country *', title: 'Country', required: true %>
  </fieldset>
  <section>
    <%= render_markdown(@icla_signature.icla.body) %>
  </section>
  <fieldset class="end">
    <%= f.hidden_field :user_id %>
    <%= f.hidden_field :icla_id %>
    <span class="agreement">
      <%= f.check_box :agreement %>
      <%= f.label :agreement, 'I agree to the terms of this agreement' %>
    </span>
    <%= submit_tag 'Sign ICLA' %>
  </fieldset>
  <footer>
    <%= @icla_signature.icla.version %>
  </footer>
<% end %>
