<%= form_for(@icla_signature) do |f| %>
  <div class="page">
    <div class="title">
      <span class="fa fa-file-text"></span>Individual Contributor License Agreement (ICLA)
    </div>

    <div class="content">
      <div class="callout info">
        You have been asked to sign an ICLA as part of the <%= link_to 'Community Contribution process', 'http://docs.opscode.com/community_contributions.html', target: :blank %>. Please read the document below and complete the form to file your ICLA.
      </div>

      <header class="agreement-header"><%= render_markdown(@icla_signature.icla.head) %></header>

      <% if @icla_signature.errors.present? %>
        <div class="callout error">
          <p>There were some problems submitting the form:</p>
          <ul>
            <% @icla_signature.errors.full_messages.each do |error| %>
              <li><%= error %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <section class="fields">
        <fieldset class="name">
          <%= f.text_field :prefix, placeholder: 'Prefix',  title: 'Prefix', class: 'span-1' %>
          <%= f.text_field :first_name, placeholder: 'First Name *', title: 'First Name', class: 'span-3' %>
          <%= f.text_field :middle_name, placeholder: 'Middle Name', title: 'Middle Name', class: 'span-3' %>
          <%= f.text_field :last_name, placeholder: 'Last Name *', title: 'Last Name', class: 'span-4' %>
          <%= f.text_field :suffix, placeholder: 'Suffix', title: 'Suffix', class: 'span-1' %>
        </fieldset>
        <fieldset class="contact">
          <%= f.text_field :company, placeholder: 'Company', title: 'Company', class: 'span-4' %>
          <%= f.telephone_field :phone, placeholder: 'Phone *', title: 'Phone', class: 'span-3' %>
          <%= f.email_field :email, placeholder: 'Email *', title: 'Email', class: 'span-5' %>
        </fieldset>
        <fieldset class="address">
          <%= f.text_field :address_line_1, placeholder: 'Address Line 1 *', title: 'Address Line 1' %>
          <%= f.text_field :address_line_2, placeholder: 'Address Line 2', title: 'Address Line 2' %>
          <%= f.text_field :city, placeholder: 'City *', title: 'City', class: 'span-3' %>
          <%= f.text_field :state, placeholder: 'State or Province *', title: 'State or Province', class: 'span-3' %>
          <%= f.text_field :zip, placeholder: 'Postal Code *', title: 'Postal Code', class: 'span-2' %>
          <%= f.text_field :country, placeholder: 'Country *', title: 'Country', class: 'span-4' %>
        </fieldset>
      </section>

      <section class="agreement-body">
        <%= render_markdown(@icla_signature.icla.body) %>
        <footer><%= @icla_signature.icla.version %></footer>
      </section>

      <section class="agreement">
        <fieldset>
          <%= f.check_box :agreement %>
          <%= label_tag :icla_signature_agreement, '' %>
        </fieldset>
        <p>I have read and accept the terms of this agreement</p>
      </section>

      <section>
        <%= f.hidden_field :user_id %>
        <%= f.hidden_field :icla_id %>
        <%= f.submit 'Sign ICLA', class: 'button secondary' %>
      </section>
    </div>
  </div>
<% end %>
