<div class="page">
  <div class="title">
    <span class="fa fa-file-text"></span>Individual Contributor License Agreement (ICLA)
  </div>

  <div class="content">
    <div class="callout info">
      You have been asked to sign an ICLA as part of the <%= link_to 'Community Contribution process', 'http://docs.opscode.com/community_contributions.html', target: :blank %>. Please read the document below and complete the form to file your ICLA.
    </div>

    <div class="signature">
      <%= render 'form', submit_text: 'Sign ICLA' %>
    </div>

    <div class="agreement">
      <header class="agreement-header"><%= render_markdown(@icla_signature.icla.head) %></header>
      <section class="agreement-body">
        <%= render_markdown(@icla_signature.icla.body) %>
        <footer><%= @icla_signature.icla.version %></footer>
      </section>
    </div>
  </div>
</div>
