<div class="page">
  <div class="title">
    <span class="fa fa-file-text"></span>Individual Contributor License Agreement (ICLA)
  </div>

  <div class="content">
    <div class="callout info">
      You have been asked to sign an ICLA as part of the <%= link_to 'Community Contribution process', 'http://docs.opscode.com/community_contributions.html', target: :blank %>. Please read the document below and complete the form to file your ICLA.
    </div>

    <div class="signature">
      <%= form_for(@icla_signature) do |f| %>
        <%= render 'application/form_errors', record: @icla_signature %>
        <%= render 'fields', f: f %>

        <section>
          <%= f.submit 'Sign ICLA', class: 'button secondary' %>
        </section>
      <% end %>
    </div>

    <div class="agreement">
      <%= render_markdown(@icla_signature.icla.head) %>
      <%= render_markdown(@icla_signature.icla.body) %>
      <%= @icla_signature.icla.version %>
    </div>
  </div>
</div>
