<div class="page">
  <div class="title">
    <span class="fa fa-file-text"></span>Individual Contributor License Agreement (ICLA)
  </div>

  <div class="content">
    <div class="signature">
      <%= form_for(@icla_signature.dup, url: { action: :re_sign }) do |f| %>
        <%= render 'application/form_errors', record: @icla_signature %>
        <%= render 'fields', f: f %>

        <section>
          <%= f.submit 'Re-ign ICLA', class: 'button secondary' %>
        </section>
      <% end %>
    </div>

    <div class="agreement">
      <%= render_markdown(@icla_signature.icla.head) %>
      <%= render_markdown(@icla_signature.icla.body) %>
      <%= @icla_signature.icla.version %>
    </div>
  </div>
</div>
