<div class="profile_sidebar sidebar" data-equalizer-watch>
  <%= gravatar_for @user, size: 180 %>
  <h3><%= @user.name %></h3>
  <h4><%= image_tag "chef-icon.png" %> <%= @user.username %></h4>

  <ul>
    <% if @user.company.present? %>
      <li class="has-tip" title="The company <%= @user.name %> associates with">
        <span class="fa fa-briefcase"></span> <%= @user.company %>
      </li>
    <% end %>

    <% if @user.twitter_username.present? %>
      <li class="has-tip" title="<%= posessivize(@user.name) %> Twitter Username">
        <a href="https://twitter.com/<%= @user.twitter_username %>" target="_blank" rel="noopener"><i class="fa fa-twitter"></i> <%= @user.twitter_username %></a>
      </li>
    <% end %>
    <% if current_user %>
      <% if current_user.roles.include?('admin') && @user.email.present? %>
        <li class="has-tip" title="<%= posessivize(@user.name) %> Email">
          <a href="mailto:<%= @user.email %>" target="_blank" rel="noopener"><i class="fa fa-envelope"></i> <%= @user.email %></a>
        </li>
      <% end %>
    <% end %>
    

    <% @user.accounts.for(:github).each do |account| %>
      <li class="has-tip" title="<%= github_profile_title(posessivize(@user.name))%>">
        <a href="<%=github_profile_url(account.username)%>" target="_blank" rel="noopener"><i class="fa fa-github"></i> <%= account.username %></a>
      </li>
    <% end %>

    <% if @user.slack_username.present? %>
      <li class="has-tip" title="<%= posessivize(@user.name) %> Slack Username">
        <i class="fa fa-slack"></i> <%= @user.slack_username %>
      </li>
    <% end %>

    <li class="has-tip" title="When <%= @user.name %> joined Supermarket">
      <i class="fa fa-clock-o"></i> Joined <%= time_ago_in_words(@user.created_at) %> ago.
    </li>
  </ul>

  <ul class="user_stats">
    <li>
      <%= link_to user_path(@user) do %>
        <h3><%= pluralized_stats(@user.owned_cookbooks.count, 'Cookbook') %></h3>
      <% end %>
    </li>
    <li>
      <%= link_to user_path(@user, tab: 'collaborates') do %>
        <h3><%= pluralized_stats(@user.collaborated_cookbooks.count, 'Collaboration') %></h3>
      <% end %>
    </li>
    <li>
      <%= link_to user_path(@user, tab: 'follows') do %>
        <h3><%= pluralized_stats(@user.followed_cookbooks.count, 'Follow') %></h3>
      <% end %>
    </li>
  </ul>

  <% if policy(@user).make_admin? %>
    <%= link_to 'Make Admin', make_admin_user_path(@user), method: 'put', class: 'button medium expand radius', rel: 'make_admin' %>
  <% elsif policy(@user).revoke_admin? %>
    <%= link_to 'Revoke Admin', revoke_admin_user_path(@user), method: 'delete', class: 'button medium expand radius', rel: 'revoke_admin' %>
  <% end %>

  <% if @user == current_user %>
    <% if params[:controller] == "profile" %>
      <%= link_to 'View Profile', @user, class: 'button medium expand radius', rel: 'view_profile' %>
    <% else %>
      <%= link_to 'Manage Profile', edit_profile_path, class: 'button medium expand radius', rel: 'manage_profile' %>
    <% end %>
  <% end %>
</div>
