<div class="installs" data-update-url="<%= update_install_preference_profile_url %>">
  <dl data-tab data-options="deep_linking:true; scroll_to_content: false;" class="<%= 'persist-install-method' if current_user %>">
    <% if current_user && current_user.install_preference.present? %>
      <dd class="<%= current_user.install_preference == 'policyfile' ? 'active' : '' %>">
        <a href="#policyfile" class="button tiny secondary">Policyfile</a>
      </dd>

      <dd class="<%= %w(berkshelf librarian).include? current_user.install_preference ? 'active' : '' %>">
        <a href="#berkshelf" class="button tiny secondary">Berkshelf</a>
      </dd>

      <dd class="<%= current_user.install_preference == 'knife' ? 'active' : '' %>">
        <a href="#knife" class="button tiny secondary">Knife</a>
      </dd>
    <% else %>
      <dd class="active">
        <a href="#policyfile" class="button tiny secondary">Policyfile</a>
      </dd>

      <dd>
        <a href="#berkshelf" class="button tiny secondary">Berkshelf</a>
      </dd>

      <dd>
        <a href="#knife" class="button tiny secondary">Knife</a>
      </dd>
    <% end %>
  </dl>

  <div class="tabs-content">
    <% if current_user && current_user.install_preference.present? %>
      <div class="content <%= %w(berkshelf librarian).include? current_user.install_preference ? 'active' : '' %>" id="berkshelf">
        <pre class="install">cookbook '<%= cookbook.name %>', <% if version == cookbook.latest_cookbook_version %>'~&gt;<% else %>'=<% end %> <%= version.version %>'</pre>
      </div>

      <div class="content <%= current_user.install_preference == 'policyfile' ? 'active' : '' %>" id="policyfile">
        <pre class="install">cookbook '<%= cookbook.name %>', <% if version == cookbook.latest_cookbook_version %>'~&gt;<% else %>'=<% end %> <%= version.version %>', :supermarket</pre>
      </div>

      <div class="content <%= current_user.install_preference == 'knife' ? 'active' : '' %>" id="knife">
        <pre class="install">knife supermarket install <%= cookbook.name %></pre>
        <pre class="install">knife supermarket download <%= cookbook.name %></pre>
      </div>
    <% else %>
      <div class="content active" id="berkshelf">
        <pre class="install">cookbook '<%= cookbook.name %>', <% if version == cookbook.latest_cookbook_version %>'~&gt;<% else %>'=<% end %> <%= version.version %>'</pre>
      </div>

      <div class="content" id="policyfile">
        <pre class="install">cookbook '<%= cookbook.name %>', <% if version == cookbook.latest_cookbook_version %>'~&gt;<% else %>'=<% end %> <%= version.version %>', :supermarket</pre>
      </div>

      <div class="content" id="knife">
        <pre class="install">knife supermarket install <%= cookbook.name %></pre>
        <pre class="install">knife supermarket download <%= cookbook.name %></pre>
      </div>
    <% end %>
  </div>
</div>
