<div class="main">
  <% if cookbook.deprecated? %>
    <div class="deprecation-notice">
      <h2 class="deprecation-copy">
        <i class="fa fa-exclamation-triangle"></i> The <%= cookbook.name %>
        cookbook has been deprecated
      </h2>
      <p class="deprecation-copy"> Author provided reason for deprecation: </p>
      <p class="deprecation-copy"><%= cookbook.cookbook_deprecation_reason %></p>
      <p class="deprecation-copy">
      <% if cookbook.replacement.present? %>
        You may find that the <%= link_to cookbook.replacement.name, cookbook.replacement %>
        cookbook is a suitable alternative.
      <% end %>
      </p>
    </div>
  <% end %>

  <small class="rss">
    <%= link_to cookbook_path(cookbook, format: 'atom'), class: 'rss_feed_link' do %>
      <i class="fa fa-rss"></i> RSS
    <% end %>
  </small>
  <h1 class="heading">
    <span itemprop="name"><%= cookbook.name %></span>
    <small class="version_dropdown">
      <%= link_to '#', 'data-dropdown' => 'versions', class: 'button radius tiny dropdown secondary', rel: 'cookbook_versions' do %>
        <span class="versions_count">
          <%= pluralize "(#{cookbook_versions.count})", 'Version' %>
        </span>
        <%= version.version %>
      <% end %>
      <ul id="versions" data-dropdown-content class="f-dropdown">
        <li>
        <ul>
          <% cookbook_versions.each do |cookbook_version| %>
            <li>
            <%= link_to cookbook_version_path(cookbook, cookbook_version), rel: 'cookbook_version' do %>
              <%= cookbook_version.version %>
              <% if cookbook_version == version %><i class="fa fa-check right"></i><% end %>
            <% end %>
            </li>
          <% end %>
        </ul>
        </li>
      </ul>
    </small>

    <%= render 'cookbooks/follow_button_show', cookbook: @cookbook %>
  </h1>

  <p itemprop="description"><%= cookbook.description %></p>

  <%= render 'cookbooks/installs', cookbook: cookbook, version: version %>

  <dl class="tabs" data-tab data-options="deep_linking:true">
    <dd class="active"><a href="#readme">README</a></dd>
    <dd><a href="#dependencies" rel="cookbook_dependencies">Dependencies</a></dd>
    <% if version.changelog %>
      <dd><a href="#changelog" rel="changelog">Changelog</a></dd>
    <% end %>
    <% if Feature.active?(:fieri) %>
      <dd>
      <a href="#quality" rel="quality">Quality
      <span class="has-tip" title="<%= t('cookbook.quality_metric_pass_rate_tip') %>">
        <i class="fa fa-dashboard"></i> <%= version.metric_result_pass_rate %>%</a>
      </span>
      </dd>
    <% end %>
  </dl>
  <div class="tabs-content">
    <div class="content active" id="readme">
      <%= render_document(version.readme, version.readme_extension) %>
    </div>
    <div class="content" id="dependencies">
      <h3 class="dependent-header">Dependent cookbooks</h3>
      <% if version.cookbook_dependencies.present? %>
        <table>
          <tbody>
            <%= render partial: 'cookbooks/dependency', collection: version.cookbook_dependencies %>
          </tbody>
        </table>
      <% else %>
        <p>This cookbook has no specified dependencies.</p>
      <% end %>

      <h3 class="dependent-header">Contingent cookbooks</h3>
      <% if cookbook.contingents.present? %>
        <dl class="accordion contingents" data-accordion>
          <% cookbook.contingents.group_by { |c| c.cookbook_version.cookbook.name }.each do |cookbook, contingents| %>
            <dd class="accordion-navigation">
            <a href="#panel-<%= cookbook %>">
              <%= cookbook %>
              <span class="right">Applicable Versions <i class="fa fa-plus"></i><i class="fa fa-minus"></i></span>
            </a>
            <div id="panel-<%= cookbook %>" class="content">
              <table>
                <tbody>
                  <%= render partial: 'cookbooks/contingent', collection: contingents %>
                </tbody>
              </table>
            </div>
            </dd>
          <% end %>
        </dl>
      <% else %>
        <p>There are no cookbooks that are contingent upon this one.</p>
      <% end %>
    </div>
    <% if version.changelog %>
      <div class="content" id="changelog">
        <%= render_document(version.changelog, version.changelog_extension) %>
      </div>
    <% end %>
    <% if Feature.active?(:fieri) %>
      <%= render partial: 'cookbooks/metrics', locals: { version: version } %>
    <% end %>
  </div>
</div>
