<a href="#" data-dropdown="manage" class="button radius secondary small dropdown">Manage Cookbook</a>

<ul class="manage_cookbook f-dropdown" id="manage" data-dropdown-content>
  <% if policy(cookbook).create_collaborator? %>
    <li>
      <%= link_to '#', class: 'addcontributor', rel: 'add-collaborator', 'data-reveal-id' => 'collaborators' do %>
        <i class="fa fa-plus-square"></i>
        Add Collaborator
      <% end %>
    </li>
    <div id="collaborators" class="reveal-modal small" data-reveal>
      <%= render 'collaborators/add', resource: @cookbook %>
    </div>
  <% end %>

  <%= link_to_adoption(cookbook) %>

  <% if policy(cookbook).transfer_ownership? %>
    <li>
      <%= link_to '#', rel: 'transfer_ownership', 'data-reveal-id' => 'transfer' do %>
        <i class="fa fa-random"></i>
        Transfer Ownership
      <% end %>
    </li>

    <div id="transfer" class="reveal-modal small" data-reveal>
      <h1>Transfer Ownership</h1>
      <a class="close-reveal-modal">&#215;</a>

      <%= form_for cookbook, url: transfer_ownership_path(cookbook), method: :put do |f| %>
        <div class="row collapse">
          <div class="small-9 columns">
            <%= f.hidden_field :user_id, class: 'collaborators', 'data-url' => collaborators_path(ineligible_user_ids: Collaborator.ineligible_owners_for(cookbook).map(&:id)) %>
            <h3>
              <%= f.check_box :add_owner_as_collaborator, checked: false %>
              <%= f.label "Make current owner a collaborator?" %>
            </h3>
          </div>
          <div class="small-3 columns">
            <%= f.submit 'Transfer', class: 'button radius postfix' %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if policy(cookbook).deprecate? %>
    <li>
      <%= link_to '#', class: 'deprecate', rel: 'deprecate', 'data-reveal-id' => 'deprecate' do %>
        <i class="fa fa-archive"></i>
        Deprecate
      <% end %>
    </li>

    <div id="deprecate" class="reveal-modal small" data-reveal>
      <h1>Deprecate Cookbook</h1>

      <p>Deprecating the <%= cookbook.name %> cookbook will add a notice to the
      page letting visitors know the cookbook has been deprecated and its use is
      no longer recommended.  Optionally, select a cookbook that should be used
      instead of this one.</p>

      <a class="close-reveal-modal">&#215;</a>

      <%= form_for cookbook, url: deprecate_cookbook_path(cookbook), method: :put do |f| %>
        <div class="row collapse">
          <div class="small-12 columns">
            <%= f.hidden_field :replacement, class: 'cookbook-deprecate', 'data-url' => deprecate_search_cookbook_path(cookbook) %>
          </div>
          <div class="small-12 columns">
            <%= f.label :deprecation_reason %>
            <%= f.text_area :deprecation_reason, class: 'form-control', placeholder: 'Reason of deprecation', value: cookbook.cookbook_deprecation_reason, rows: 3 %>
          </div>
          <div class="medium-3 columns">
            <%= f.submit 'Deprecate', class: 'button radius postfix submit-deprecation' %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if policy(cookbook).undeprecate? %>
    <li>
      <%= link_to deprecate_cookbook_path(cookbook), method: 'delete', rel: 'undeprecate' do %>
          <i class="fa fa-archive"></i>
          Undo Deprecation
      <% end %>
    </li>
  <% end %>

  <% if policy(cookbook).toggle_featured? %>
    <li>
      <%= link_to toggle_featured_cookbook_path(cookbook), method: 'put', rel: 'toggle_featured' do %>
        <i class="fa fa-star"></i>
        <%= cookbook.featured? ? 'Unfeature' : 'Feature' %>
      <% end %>
    </li>
  <% end %>
</ul>
