<div class="sidebar" data-equalizer-watch>
  <%= render 'resources/owner', resource: cookbook %>
  <%= render 'resources/collaborators', collaborators: collaborators, resource: cookbook %>

  <% if policy(cookbook).manage? %>
    <%= render "cookbooks/manage_cookbook", cookbook: cookbook %>
  <% end %>

  <% if cookbook.up_for_adoption? %>
    <div>
      <%= link_to 'Adopt me!', adoption_cookbook_path(cookbook), method: :post, class: 'button radius tiny' %>
    </div>
  <% end %>

  <h3 class="<%= 'show-cookbook-urls-manage' if policy(cookbook).manage_cookbook_urls? %>" rel="edit-cookbook-urls">
    <% if policy(cookbook).manage_cookbook_urls? %>
      <%= link_to '#' do %>
         <i class="fa fa-gear"></i>
      <% end %>
    <% end %>
    Details
  </h3>

  <div class="cookbook-details">
    <% if policy(cookbook).manage_cookbook_urls? %>
      <div class="manage-cookbook-urls hide">
        <%= form_for cookbook, data: { abide: true } do |f| %>
          <div class="source-url-field">
            <%= f.text_field :source_url, placeholder: 'Source URL: http://example.com', pattern: 'url' %>
            <small class="error">Must be formatted as a URL.</small>
          </div>

          <div class="issues-url-field">
            <%= f.text_field :issues_url, placeholder: 'Issues URL: http://example.com', pattern: 'url' %>
            <small class="error">Must be formatted as a URL.</small>
          </div>

          <%= f.submit 'Save', class: 'button radius tiny submit-urls', data: { disable_with: 'Saving...' } %>
          <a href="#" class="button radius tiny secondary cancel-submit-urls">Cancel</a>
        <% end %>
      </div>
    <% end %>

    <div class="cookbook-urls">
      <% if cookbook.source_url.present? %>
        <%= link_to 'View Source', cookbook.source_url, class: 'button radius tiny source-url', itemprop: 'codeRepository' %>
      <% end %>

      <% if cookbook.issues_url.present? %>
        <%= link_to 'View Issues', cookbook.issues_url, class: 'button secondary radius tiny issues-url', itemprop: 'discussionUrl' %>
      <% end %>
    </div>

    <h4>
      <i class="fa fa-clock-o"></i> Updated <span itemprop="dateModified"><%= version.updated_at.to_s(:longish) %></span>
      <small>Created on <span itemprop="datePublished"><%= cookbook.created_at.to_s(:longish) %></span></small>
    </h4>

    <h4><i class="fa fa-desktop"></i> Supported Platforms</h4>
    <ul class="cookbook_platforms">
      <% if cookbook.supported_platforms.present? %>
        <% supported_platforms.each do |platform| %>
          <li class="cookbook_platform_icon">
            <%= image_tag "platform_#{supported_platform_icon(platform)}.svg",
                alt: "#{platform.name} #{platform.version_constraint}",
                title: "#{platform.name} #{platform.version_constraint}", height: 16, width: 16, class: "fa" %>
          </li>
        <% end %>
      <% else %>
        <li data-tooltip class="has-tip cookbook_no_platform_icon" title="Not specified">
          <span class="fa fa-question-circle"></span>
        </li>
      <% end %>
    </ul>

    <% if cookbook.badges.present? %>
      <h4><i class="fa fa-shield"></i> Badges</h4>
      <ul class="cookbook_badges">
        <% if cookbook.is? :partner %>
        <li class="cookbook_badge_icon has-tip"/>
          <a href="https://github.com/chef-partners/cookbook-guide/blob/master/cookbook-guide.pdf" target="new">
            <%= image_tag "badge-cookbook-partner.svg", alt: "Partner Cookbook", title: "Partner Cookbook", height: 16, width: 16, id: 'partner_badge', class: "fa"  %>
          </a>
        </li>
        <% end %>
      </ul>
    <% end %>


    <h4><i class="fa fa-key"></i> License</h4>
    <p><%= version.license %></p>

    <% if version.chef_versions.present? %>
      <h4><i class="fa fa-key"></i> Required Chef Infra Client</h4>
      <p><%= versions_string(version.chef_versions) %></p>
    <% end %>

    <% if version.ohai_versions.present? %>
      <h4><i class="fa fa-key"></i> Ohai Versions</h4>
      <p><%= versions_string(version.ohai_versions) %></p>
    <% end %>

    <%= link_to "Download Cookbook", { action: 'download' }, class: 'button secondary radius expand button_download_cookbook' %>
  </div>
</div>
