<%= provide(:title, "Cookbooks") %>
<%= provide(:description, "Browse and search Chef cookbooks.") %>

<div class="page nobg">
  <div class="heading-with-buttons">
    <h1 class="title">
      <%= pluralize(@number_of_cookbooks, 'Cookbook') %>
      <small>
        <%= link_to '<i class="fa fa-rss"></i> RSS'.html_safe, @current_params.merge(format: 'atom'), :class => 'rss_feed_link show-for-medium-up' %>
      </small>

      <small>
        <%= check_box_tag 'deprecated', false, params[:deprecated] ? true : false %>
        <%= 'Deprecated cookbooks' %>
      </small>
    </h1>

    <div class="buttons">
      <span>Sort by</span>
      <%= link_to_sorted_cookbooks 'Most Followed', @current_params, 'most_followed' %>
      <%= link_to_sorted_cookbooks 'Recently Updated', @current_params, 'recently_updated' %>
    </div>
  </div>

  <%= render 'cookbooks_list' %>

</div>
