<%= provide(:title, "Contributors on Behalf of #{@ccla_signature.organization.name}") %>

<div class="page withspace contribute">
  <div class="heading-with-buttons">
    <h1 class="title">Contributors on Behalf of <%= @ccla_signature.organization.name %></h1>

    <% if ROLLOUT.active?(:join_ccla) && ROLLOUT.active?(:github) %>
      <div class="buttons">
        <% if current_user && policy(@ccla_signature.organization).request_to_join? %>
          <p>
            <%= link_to "Request to join this CCLA", ccla_signature_contributor_requests_path(@ccla_signature), class: "button radius tiny join", rel: "contributor-request", method: :post, remote: true %>
          </p>
        <% elsif current_user && current_user.requested_to_join?(@ccla_signature.organization) %>
          <%= render partial: 'pending_approval' %>
        <% end %>
      </div>
    <% end %>
  </div>

  <% if current_user && policy(@ccla_signature.organization).view_cclas? %>
    <%= render "organization_tabs", ccla_signature: @ccla_signature %>
  <% else %>
    <%= link_to "Return to list of CCLA Signing Companies", ccla_signatures_path, class: "button radius tiny" %>
  <% end %>

  <div class="tabs-content">
    <div class="content active">
      <table>
        <thead>
          <tr class="text-left contributor-<%= @ccla_signature.id %>">
            <th>Name</th>
            <th>Date</th>
            <th>GitHub</th>
            <th>Jira</th>
          </tr>
        </thead>

        <tbody>
          <% @ccla_signature.organization.contributors.each do |contributor| %>
            <tr class="contributor contributor-<%= @ccla_signature.id %>">
              <td><%= link_to contributor.user.name, contributor.user %> <%= "[admin]" if contributor.admin? %></td>
              <td><%= contributor.created_at.to_date.to_s(:long) %></td>
              <td>
                <% contributor.user.accounts.for('github').each do |account| %>
                  <%= link_to account.username, "https://www.github.com/#{account.username}", target: :blank %>
                <% end %>
              </td>
              <td><%= contributor.user.jira_username %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
