<h1>Add Collaborators</h1>
<a class="close-reveal-modal">&#215;</a>

<%= form_with model: Collaborator.new do |f| %>
  <div class="row collapse">
    <div class="small-12 columns">
      <%= f.hidden_field :resourceable_type, value: resource.class.name %>
      <%= f.hidden_field :resourceable_id, value: resource.id %>
      <%= f.label :users %>
      <%= f.hidden_field :user_ids, id: 'user_ids', class: 'collaborators multiple', 'data-url' => collaborators_path(ineligible_user_ids: Collaborator.ineligible_collaborators_for(resource).map(&:id)) %>
      <% if Feature.active?(:collaborator_groups) %>
        <%= f.label :groups %>
        <%= f.hidden_field :group_ids, id: 'group_ids', class: 'groups multiple', 'data-url' => groups_path %>
      <% end %>
    </div>
    <div class="small-2 columns">
      <%= f.submit 'Add', class: 'button radius postfix' %>
    </div>
  </div>
<% end %>
