<div class="user">
  <div class="profile">
    <div class="avatar">
      <%= gravatar_for @user, size: 200 %>
    </div>
    <div class="info">
      <h2><%= @user.name %></h2>

      <ul>
        <li data-tooltip class="has-tip" title="The company <%= @user.name %> associates with.">
          <span class="fa fa-building"></span> <%= @user.company %>
        </li>

        <% if @user.twitter_username.present? %>
          <li data-tooltip class="has-tip" title="<%= @user.name %>'s Twitter Username.">
            <i class="fa fa-twitter"></i> <%= @user.twitter_username %>
          </li>
        <% end %>

        <% if @user.irc_nickname.present? %>
          <li data-tooltip class="has-tip" title="<%= @user.name %>'s IRC Nickname.">
            <i class="fa fa-comment"></i> <%= @user.irc_nickname %>
          </li>
        <% end %>

        <% if @user.jira_username.present? %>
          <li data-tooltip class="has-tip" title="<%= @user.name %>'s Jira Username.">
            <i class="fa fa-ticket"></i> <%= @user.jira_username %>
          </li>
        <% end %>

        <li data-tooltip class="has-tip" title="When <%= @user.name %> joined the Chef Community site.">
          <i class="fa fa-clock-o"></i> Joined <%= time_ago_in_words(@user.created_at) %> ago.
        </li>
      </ul>

      <% if current_user == @user %>
        <%= link_to 'Manage Profile', edit_profile_path, class: 'button radius tiny', id: 'manage-profile' %>
      <% end %>
    </div>
  </div>
</div>
