<div class="page">
  <div class="title">
    <span class="fa fa-user"></span><%= @user.name %>
  </div>

  <div class="content">
    <% if @user.icla_signatures.any? %>
      <p><%= link_to "View ICLA", @user.icla_signatures.first %></p>
    <% end %>

    <% @user.organization_users.each do |organization_user| %>
      <% if organization_user.admin? %>
        <p>
        Admin of <%= organization_user.organization.name %> -
        <%= link_to "View CCLA", organization_user.organization.ccla_signature %>
        or
        <%= link_to "Invite Contributors", new_organization_invitation_url(organization_user.organization) %>
        </p>
      <% else %>
        <p>Member of <%= organization_user.organization.name %> - <%= link_to "View CCLA", organization_user.organization.ccla_signature %></p>
      <% end %>
    <% end %>
  </div>
</div>
