<%= provide(:title, "#{@user.username}") %>
<%= provide(:description, "The Supermarket profile for #{@user.username}.") %>

<div class="view_profile" data-equalizer>
  <%= render 'sidebar' %>

  <div class="profile_content" data-equalizer-watch>
    <div class="heading">
      <h1><%= posessivize(@user.name) %> Cookbooks</h1>

      <dl class="tabs radius">
        <dd class="<%= 'active' unless params[:tab] %>"><%= link_to 'Owns', @user %></dd>
        <dd class="<%= 'active' if params[:tab] == 'collaborates' %>"><%= link_to 'Collaborates', user_path(@user, tab: 'collaborates') %></dd>
        <dd class="<%= 'active' if params[:tab] == 'follows' %>"><%= link_to 'Follows', user_path(@user, tab: 'follows') %></dd>
      </dl>
    </div>

    <% if @cookbooks.any? %>
      <ul class="cookbook_listing">
        <%= render partial: 'cookbooks/cookbook', collection: @cookbooks %>
      </ul>
    <% else %>
      <% if @user == current_user %>
        <h3><%= t("profile.current_user_no_cookbooks.#{params[:tab] || 'owns'}") %></h3>
      <% else %>
        <h3><%= t("profile.no_cookbooks.#{params[:tab] || 'owns'}", username: @user.username) %></h3>
      <% end %>
    <% end %>
  </div>
</div>
