<%= provide(:title, "#{@user.username}") %>
<%= provide(:description, "The Supermarket profile for #{@user.username}.") %>

<div class="page profile" data-equalizer>
  <%= render 'sidebar' %>

  <div class="main" data-equalizer-watch>
      <%= render 'heading', user: @user, title: "#{posessivize(@user.name)} Cookbooks" %>

      <dl class="tabs radius">
        <dd class="<%= 'active' unless params[:tab] %>"><%= link_to 'Owns', @user %></dd>
        <dd class="<%= 'active' if params[:tab] == 'collaborates' %>"><%= link_to 'Collaborates', user_path(@user, tab: 'collaborates') %></dd>
        <dd class="<%= 'active' if params[:tab] == 'follows' %>"><%= link_to 'Follows', user_path(@user, tab: 'follows') %></dd>
      </dl>

    <div class="tabs-content">
      <div class="content active">
        <% if @cookbooks.any? %>
          <ul class="listing">
            <%= render partial: 'cookbooks/cookbook', collection: @cookbooks %>
            <%= paginate @cookbooks %>
          </ul>
        <% else %>
          <% if @user == current_user %>
            <p><%= t("profile.current_user_no_cookbooks.#{params[:tab] || 'owns'}") %></p>
          <% else %>
            <p><%= t("profile.no_cookbooks.#{params[:tab] || 'owns'}", username: @user.username) %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
