<%= provide(:title, "#{@user.username}") %>
<%= provide(:description, "The Supermarket profile for #{@user.username}.") %>

<div class="page profile" data-equalizer>
  <%= render 'sidebar' %>

  <div class="main" data-equalizer-watch>
    <div class="heading">
      <h1><%= posessivize(@user.name) %> Cookbooks</h1>

      <% if ENV['TOOLS_ENABLED'] == "true" %>
        <%= link_to "Cookbooks", @user, class: 'button radius secondary', rel: "view_cookbooks" %>
        <%= link_to "Tools & Plugins", tools_user_path(@user), class: 'button radius secondary', rel: "view_tools" %>
      <% end %>

      <dl class="tabs radius">
        <dd class="<%= 'active' unless params[:tab] %>"><%= link_to 'Owns', @user %></dd>
        <dd class="<%= 'active' if params[:tab] == 'collaborates' %>"><%= link_to 'Collaborates', user_path(@user, tab: 'collaborates') %></dd>
        <dd class="<%= 'active' if params[:tab] == 'follows' %>"><%= link_to 'Follows', user_path(@user, tab: 'follows') %></dd>
      </dl>
    </div>

    <div class="tabs-content">
      <div class="content active">
        <% if @cookbooks.any? %>
          <ul class="cookbook_listing">
            <%= render partial: 'cookbooks/cookbook', collection: @cookbooks %>
            <%= paginate @cookbooks %>
          </ul>
        <% else %>
          <% if @user == current_user %>
            <p><%= t("profile.current_user_no_cookbooks.#{params[:tab] || 'owns'}") %></p>
          <% else %>
            <p><%= t("profile.no_cookbooks.#{params[:tab] || 'owns'}", username: @user.username) %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
