<div class='page'>
  <div class='title'>
    <span class='fa fa-group'></span>Forgot your password?
  </div>

  <div class='content'>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), method: :post) do |f| %>
      <%= render 'application/form_errors', record: resource %>

      <fieldset>
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>
      </fieldset>

      <%= f.submit 'Send me reset password instructions', class: 'button primary' %>
    <% end %>

    <%= render 'devise/shared/links' %>
  </div>
</div>
