<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
    <title><%= [content_for(:title), 'Chef Supermarket'].compact.join(' - ').html_safe %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Supermarket" %>">
    <% if Feature.active?(:no_crawl) %>
      <meta name="robots" content="noindex, nofollow">
    <% end %>
    <link rel="shortcut icon" href="<%= image_url('favicon.ico') %>" type="image/x-icon">
    <link rel="icon" href="<%= image_url('favicon.ico') %>" type="image/x-icon">
    <link rel="apple-touch-icon" href="<%= image_url('apple-touch-icon.png') %>"/>
    <%= stylesheet_link_tag "application", media: "all" %>
    <% unless Rails.env == 'test' || air_gapped? %>
      <%= stylesheet_link_tag "//fonts.googleapis.com/css?family=Montserrat:400,700" %>
    <% end %>
    <%= csrf_meta_tags %>
    <%= render 'application/analytics' %>
  </head>
  <body class="<%= controller.controller_name %>">
    <% if gtm_enabled? && ENV['GTM_ID'] %>
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= ENV['GTM_ID'] %>" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
    <% end %>

    <div class="off-canvas-wrap">
      <div class="inner-wrap">
        <!-- Chef Property Menu -->
        <aside class="left-off-canvas-menu">
          <ul class="off-canvas-list show-for-medium-down">
            <li><%= link_to 'Cookbooks', cookbooks_directory_path %></li>
            <% if Feature.active?(:tools) %>
              <li><%= link_to 'Tools & Plugins', tools_path %></li>
            <% end %>
            <li class="more-info"><a>More Info</a></li>
            <% if !signed_in? %>
              <li><%= link_to 'Sign In', auth_path(:chef_oauth2), rel: 'sign_in', method: :post %></li>
            <% end %>
          </ul>
          <ul class="off-canvas-list">
            <li><%= link_to 'Get Chef', chef_www_url, target: '_blank', rel: 'noopener' %></li>
            <li><%= link_to 'Learn Chef', learn_chef_url, target: '_blank', rel: 'noopener' %></li>
            <li><%= link_to 'Docs', chef_docs_url, target: '_blank', rel: 'noopener' %></li>
            <li><%= link_to 'Training', chef_training_url, target: '_blank', rel: 'noopener' %></li>
          </ul>
        </aside>

        <header class="globalheader">
          <a class="left-off-canvas-toggle"><i class="fa fa-bars"></i><span class="hide">Menu</span></a>
          <div class="inner_wrap">
            <div class="logo_and_nav_toggle">
              <h2 class="logochef"><%= link_to root_path do %><span>Chef Supermarket</span><% end %></h2>
            </div>
            <%= render 'application/appheader' %>
          </div>
        </header>

        <% if Feature.active?(:announcement) %>
          <%= render 'application/announcement_banner'%>
        <% end %>

        <%= render 'application/flash' %>
        <%= render 'application/search' %>

        <div class="container">
          <%= yield %>
        </div>
        <footer class="footer">
          &copy; 2008&thinsp;&ndash;&thinsp;<%= Time.new.year %> Chef Software, Inc. All Rights Reserved.
          <br><br><%= link_to 'Code of Conduct', chef_docs_url('community_guidelines') %>
          <%= link_to 'Terms and Conditions of Use', progress_www_url('legal/terms-of-use') %>
          <%= link_to 'Privacy Policy', progress_www_url('legal/privacy-policy') %>
          <%= link_to 'Cookie Policy', progress_www_url('legal/cookie-policy') %>
          <%= link_to 'Trademark Policy', progress_www_url('legal/trademarks') %>
          <%= link_to 'Status', chef_status_url %>
        </footer>

        <a class="exit-off-canvas"></a>
      </div>
    </div>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
