<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Chef Supermarket</title>
  <%= stylesheet_link_tag "mailers", media: "all" %>
</head>
<body>
  <table cellpadding="0" cellspacing="0" border="0" width="100%" id="wrapper">
    <tr>
      <td align="center">
        <table class="content" cellpadding="0" cellspacing="0" border="0">
          <tr>
            <td class="header" align="center">
              <%= link_to root_url do %>
                <%= image_tag "logo_email.jpg", alt: "Chef Supermarket", title: "Chef Supermarket", width: 251, height: 63, class: "image_fix" %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td class="body">
              <%= yield %>
            </td>
          </tr>
        </table>
        <p align="center" class="footer">
          <strong>Chef</strong> &#8226; 619 Western Ave #400 &#8226; Seattle, WA 98104<br>
          This email was sent to <%= @to %> by <%= link_to 'Chef Supermarket', root_url %>.
        </p>
      </td>
    </tr>
  </table>
  <!-- End of wrapper table -->
</body>
</html>
