<%= form_for(@ccla_signature) do |f| %>
  <%= render 'application/form_errors', record: @ccla_signature %>

  <section class="fields">
    <fieldset class="address">
      <%= f.fields_for :organization do |b| %>
        <%= b.text_field :name, placeholder: 'Company *', title: 'Company' %>
        <%= b.text_field :address_line_1, placeholder: 'Address Line 1 *', title: 'Address Line 1' %>
        <%= b.text_field :address_line_2, placeholder: 'Address Line 2', title: 'Address Line 2' %>
        <%= b.text_field :city, placeholder: 'City *', title: 'City' %>
        <%= b.text_field :state, placeholder: 'State or Province *', title: 'State or Province' %>
        <%= b.text_field :zip, placeholder: 'Postal Code *', title: 'Postal Code' %>
        <%= b.text_field :country, placeholder: 'Country *', title: 'Country' %>
      <% end %>
    </fieldset>
  </section>

  <% unless @ccla_signature.persisted? %>
    <section class="checkbox-with-label">
      <fieldset>
        <%= f.check_box :agreement %>
      </fieldset>
      <p>I have read and accept the terms of this agreement</p>
    </section>
  <% end %>

  <section>
    <%= f.hidden_field :ccla_id %>
    <%= f.hidden_field :user_id %>
    <%= f.submit submit_text, class: 'button secondary' %>
  </section>
<% end %>
