<fieldset class="name">
  <legend>Name</legend>
  <div class="prefix-field">
    <%= f.text_field :prefix, placeholder: 'Prefix',  title: 'Prefix', disabled: true %>
  </div>
  <div class="firstname-field">
    <%= f.text_field :first_name, placeholder: 'First Name *', title: 'First Name', disabled: true %>
  </div>
  <div class="middlename-field">
    <%= f.text_field :middle_name, placeholder: 'Middle Name', title: 'Middle Name', disabled: true %>
  </div>
  <div class="lastname-field">
    <%= f.text_field :last_name, placeholder: 'Last Name *', title: 'Last Name', disabled: true %>
  </div>
  <div class="suffix-field">
    <%= f.text_field :suffix, placeholder: 'Suffix', title: 'Suffix', disabled: true %>
  </div>
</fieldset>

<fieldset class="contact">
  <legend>Contact</legend>
  <div class="company-field">
    <%= f.text_field :company, placeholder: 'Company *', title: 'Company', disabled: true %>
  </div>
  <div class="phone-field">
    <%= f.telephone_field :phone, placeholder: 'Phone *', title: 'Phone', disabled: true %>
  </div>
  <div class="email-field">
    <%= f.email_field :email, placeholder: 'Email *', title: 'Email', disabled: true %>
  </div>
</fieldset>

<fieldset class="address">
  <legend>Address</legend>
  <div class="addressline1-field">
    <%= f.text_field :address_line_1, placeholder: 'Address Line 1 *', title: 'Address Line 1', disabled: true %>
  </div>
  <div class="addressline2-field">
    <%= f.text_field :address_line_2, placeholder: 'Address Line 2', title: 'Address Line 2', disabled: true %>
  </div>
  <div class="city-field">
    <%= f.text_field :city, placeholder: 'City *', title: 'City', disabled: true %>
  </div>
  <div class="stateprovince-field">
    <%= f.text_field :state, placeholder: 'State or Province *', title: 'State or Province', disabled: true %>
  </div>
  <div class="postcalcode-field">
    <%= f.text_field :zip, placeholder: 'Postal Code *', title: 'Postal Code', disabled: true %>
  </div>
  <div class="country-field">
    <%= f.text_field :country, placeholder: 'Country *', title: 'Country', disabled: true %>
  </div>
</fieldset>
