<%= provide(:title, "Sign CCLA") %>

<div class="page">
  <div class="cla">
    <h1>Corporate Contributor License Agreement <small>(CCLA)</small></h1>

    <p>
      The Corporate CLA allows a company to complete a single Contributor License Agreement and include multiple employees on it. This should be completed by a representative of the company who is authorized to sign agreements. You can view a printable copy of the CCLA <%= link_to 'here', agreement_ccla_signatures_path, target: 'blank' %>.
    </p>

    <div class="signature">
      <%= form_for(@ccla_signature, data: { abide: true }) do |f| %>
        <%= render 'application/form_errors', record: @ccla_signature %>
        <%= render 'fields', f: f %>

        <section>
          <%= f.submit 'Sign CCLA', class: 'radius button expand' %>
        </section>
      <% end %>
    </div>

    <div class="agreement">
      <div class="panel">
        <header><%= render_markdown(@ccla_signature.ccla.head) %></header>
        <section>
          <%= render_markdown(@ccla_signature.ccla.body) %>
          <footer><%= @ccla_signature.ccla.version %></footer>
        </section>
      </div>
    </div>
  </div>
</div>
