<%= provide(:title, "Sign CCLA") %>

<div class="cla">
  <h1>Corporate Contributor License Agreement <small>(CCLA)</small></h1>

  <p>
    You have been asked to sign an CCLA as part of the <%= link_to 'Community Contribution process', 'http://docs.opscode.com/community_contributions.html', target: :blank %>. Please read the document below and complete the form to file your CCLA.
  </p>

  <div class="signature">
    <%= form_for(@ccla_signature, data: { abide: true }) do |f| %>
      <%= render 'application/form_errors', record: @ccla_signature %>
      <%= render 'fields', f: f %>

      <section>
        <%= f.submit 'Sign CCLA', class: 'radius button expand' %>
      </section>
    <% end %>
  </div>

  <div class="agreement">
    <div class="panel">
      <header><%= render_markdown(@ccla_signature.ccla.head) %></header>
      <section>
        <%= render_markdown(@ccla_signature.ccla.body) %>
        <footer><%= @ccla_signature.ccla.version %></footer>
      </section>
    </div>
  </div>
</div>
