<div class="page">
  <div class="title">
    <span class="fa fa-file-text"></span>Corporate Contributor License Agreement (CCLA)
  </div>

  <div class="content">
    <div class="callout info">
      You have been asked to sign an CCLA as part of the <%= link_to 'Community Contribution process', 'http://docs.opscode.com/community_contributions.html', target: :blank %>. Please read the document below and complete the form to file your CCLA.
    </div>

    <div class="signature">
      <%= render 'form', submit_text: 'Sign CCLA' %>
    </div>

    <div class="agreement">
      <header class="agreement-header"><%= render_markdown(@ccla_signature.ccla.head) %></header>
      <section class="agreement-body">
        <%= render_markdown(@ccla_signature.ccla.body) %>
        <footer><%= @ccla_signature.ccla.version %></footer>
      </section>
    </div>
  </div>
  </div>
</div>
