<%= provide(:title, "CCLA Signature") %>

<div class="cla page">
  <h1>Corporate Contributor License Agreement for <%= @ccla_signature.organization.name %> <small>(CCLA)</small></h1>
    <dl class="tabs">
      <dd class="active"><%= link_to 'Signature', @ccla_signature %></dd>

      <dd><%= link_to "View Contributors", contributors_ccla_signature_path(@ccla_signature) %></dd>

      <% if policy(@ccla_signature).manage_contributors? %>
        <dd><%= link_to 'Manage Contributors', organization_invitations_path(@ccla_signature.organization) %></dd>
      <% end %>
    </dl>

    <div class="signature">
      <p>The CCLA was signed on <%= @ccla_signature.signed_at.to_s(:longish) %>. Update the signature below if any of the organization's information has changed.<p>

      <%= form_for(@ccla_signature.dup, url: { action: :re_sign }, data: { abide: true }) do |f| %>
        <%= render 'application/form_errors', record: @ccla_signature %>
        <%= render 'fields', f: f %>

        <section>
          <%= f.submit 'Sign CCLA', class: 'radius button expand' %>
        </section>
      <% end %>
    </div>

    <div class="agreement">
      <div class="panel">
        <%= render_markdown(@ccla_signature.ccla.head) %>
        <%= render_markdown(@ccla_signature.ccla.body) %>
        <footer><%= @ccla_signature.ccla.version %></footer>
      </div>
    </div>
  </div>
</div>
