<div class="cla">
  <h1>Corporate Contributor License Agreement <small>(CCLA)</small></h1>

  <div class="signature">
    <%= form_for(@ccla_signature.dup, url: { action: :re_sign }, data: { abide: true }) do |f| %>
      <%= render 'application/form_errors', record: @ccla_signature %>
      <%= render 'fields', f: f %>

      <section>
        <%= f.submit 'Sign CCLA', class: 'radius button expand' %>
      </section>
    <% end %>
  </div>

  <div class="agreement">
    <div class="panel">
      <%= render_markdown(@ccla_signature.ccla.head) %>
      <%= render_markdown(@ccla_signature.ccla.body) %>
      <footer><%= @ccla_signature.ccla.version %></footer>
    </div>
  </div>
</div>
