<div class="page">
  <div class="title">
    <span class="fa fa-file-text"></span>Corporate Contributor License Agreement (CCLA)
  </div>

  <div class="content">
    <div class="signature">
      <% if policy(@ccla_signature).update? %>
        <%= render 'form', submit_text: 'Update CCLA' %>
      <% else %>
        <p>
          <strong>Number</strong>
          <%= @ccla_signature.id %>
        </p>
        <p>
          <strong>Name</strong>
          <%= @ccla_signature.name %>
        </p>
        <p>
          <strong>Company</strong>
          <%= @ccla_signature.company %>
        </p>
      <% end %>
    </div>

    <div class="agreement">
      <%= render_markdown(@ccla_signature.ccla.head) %>
      <%= render_markdown(@ccla_signature.ccla.body) %>
      <%= @ccla_signature.ccla.version %>
    </div>
  </div>
</div>
