<%= form_with(model: @tool, data: { abide: true }) do |f| %>
  <%= render 'application/form_errors', record: @tool %>

  <div class="name-field">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: 'Name *', title: 'Name', required: '' %>
    <small class="error">Name is required.</small>
  </div>

  <div class="slug-field">
    <%= f.label :slug %>
    <%= f.text_field :slug, placeholder: 'Slug *', title: 'Slug', required: '' %>
    <small class="error">Slug is required.</small>
  </div>

  <div class="type-field">
    <%= f.label :type %>
    <%= f.select :type, Tool::ALLOWED_TYPES.map { |type| [pretty_type(type), type] } %>
  </div>

  <div class="description-field">
    <%= f.label :description %>
    <%= f.text_area :description, placeholder: 'Description', title: 'Description', rows: 4 %>
  </div>

  <div class="sourl_url-field">
    <%= f.label :source_url, 'Source URL' %>
    <%= f.text_field :source_url, placeholder: 'Source URL', title: 'Source URL', pattern: 'url'  %>
    <small class="error">Must be formatted as a URL.</small>
  </div>

  <div class="instructions-field">
    <%= f.label :instructions %>
    <%= f.text_area :instructions, placeholder: 'Install & Usage Instructions (Supports Markdown)', class: 'monospace', title: 'Instructions', rows: 20 %>
  </div>

  <section>
    <%= f.submit class: 'radius button' %>
    <%= link_to 'Cancel', tools_user_path(@user), class: 'radius button alert' %>
  </section>
<% end %>
