<%= provide(:title, "Add new Tool") %>

<div class="page profile" data-equalizer>
  <%= render 'users/sidebar' %>

  <div class="main" data-equalizer-watch>
    <%= render 'users/heading', user: @user, title: "#{posessivize(@user.name)} Tools", active: 'tools' %>
    <%= render 'tabs', active: 'add' %>

    <div class="tabs-content">
      <div class="content active">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
