<%= provide :title, 'Welcome - The resource for Chef cookbooks' %>
<%= provide :description, "Supermarket is Chef's open-source community platform. Find, explore and view Chef cookbooks for all of your ops needs." %>

<div class="page withspace">
  <% if flash[:signout] %>
    <div class="signout-message">
      <p>You have been signed out of Supermarket but may still be signed in to your Chef account. Visit <%= link_to ENV['CHEF_IDENTITY_URL'], ENV['CHEF_IDENTITY_URL'] %> to sign out completely.</p>
    </div>
  <% end %>

  <section class="sign_up_in">
    <h2 class="text-center">Welcome to Supermarket. Find, explore and view Chef cookbooks for all of your ops needs.</h2>

    <p class="text-center">
      <%= link_to 'Sign Up For a Chef Account', ENV['CHEF_SIGN_UP_URL'], class: 'button radius' %>
      <%= link_to 'Sign In With Your Chef Account', sign_in_path, class: 'button radius' %>
    </p>
  </section>

  <section class="welcome_resources">
    <div>
      <h2>Explore</h2>

      <ul>
        <li>
          <%= link_to "Browse Cookbooks", cookbooks_path %>
        </li>
        <li>
          <a href="http://www.getchef.com/blog/" target="_blank">Read the Chef Blog</a>
        </li>
      </ul>
    </div>
    <div>
      <h2>Learn</h2>
      <ul>
        <li>
          <a href="https://learnchef.opscode.com/" target="_blank">Learn Chef</a>
        </li>
        <li>
          <a href="http://docs.opscode.com/" target="_blank">Read the Chef Docs</a>
        </li>
        <li>
          <a href="http://docs.opscode.com/community_guidelines.html" target="_blank">Community Guidelines</a>
        </li>
        <li>
          <a href="http://docs.opscode.com/community_contributions.html" target="_blank">How to Contribute</a>
        </li>
      </ul>
    </div>
    <div>
      <h2>Share</h2>
      <ul>
        <li>
          <a href="https://wiki.opscode.com/display/ChefCN/Creating+New+Cookbooks" target="_blank">Share your cookbooks</a>
        </li>
        <li>
          <a href="irc://irc.freenode.net/chef">Chat on IRC at #chef on irc.freenode.net</a>
        </li>
        <li>
          <a href="https://groups.google.com/forum/#!forum/chef-supermarket" target="_blank">Join the Supermarket Mailing List</a>
        </li>
        <li>
          <a href="https://github.com/opscode/supermarket" target="_blank">Contribute to Supermarket</a>
        </li>
      </ul>
    </div>
  </section>

  <section class="cookbooks_stats">
    <h2>Community Stats</h3>
    <%= render 'resources/community_stats', cookbook_count: @cookbook_count, user_count: @user_count %>
  </section>
</div>
