<%= provide :title, 'Welcome - The resource for Chef cookbooks' %>
<%= provide :description, 'Find, explore and view Chef cookbooks for all of your ops needs.' %>

<div class="page">
  <h2 class="text-center">Welcome to Supermarket. Find, explore and view Chef cookbooks for all of your ops needs.</h2>

  <p class="text-center">
    <%= link_to 'Sign Up For a Chef Account', 'https://manage.opscode.com/signup?ref=community', class: 'button' %>
    <%= link_to 'Sign In With Your Chef Account', sign_in_path, class: 'button' %>
  </p>

  <div class="row">
    <div class="small-12 medium-4 columns">
      <h2>Explore</h2>

      <ul>
        <li>
          <%= link_to "Browse Cookbooks", cookbooks_path %>
        </li>
        <li>
          <a href="http://www.getchef.com/blog/">Read the Chef Blog</a>
        </li>
      </ul>
    </div>

    <div class="small-12 medium-4 columns">
      <h2>Learn</h2>
      <ul>
        <li>
          <a href="https://learnchef.opscode.com/">Learn Chef</a>
        </li>
        <li>
          <a href="http://docs.opscode.com/">Read the Chef Docs</a>
        </li>
        <li>
          <a href="http://docs.opscode.com/community_guidelines.html">Community Guidelines</a>
        </li>
        <li>
          <a href="http://docs.opscode.com/community_contributions.html">How to Contribute</a>
        </li>
      </ul>
    </div>

    <div class="small-12 medium-4 columns">
      <h2>Share</h2>
      <ul>
        <li>
          <a href="https://wiki.opscode.com/display/ChefCN/Creating+New+Cookbooks">Share your cookbooks</a>
        </li>
        <li>
          <a href="irc://irc.freenode.net/chef">Chat on IRC at #chef on irc.freenode.net</a>
        </li>
        <li>
          <a href="https://groups.google.com/forum/#!forum/chef-supermarket">Join the Supermarket Mailing List</a>
        </li>
        <li>
          <a href="https://github.com/opscode/supermarket">Contribute to Supermarket</a>
        </li>
      </ul>
    </div>
  </div>

  <h3 class="text-center">Supermarket Stats</h3>

  <section class="cookbooks_stats show-for-medium-up">
    <ul>
      <li>
        <h3><%= @recently_updated_count %> <small>Recently Updated</small></h3>
      </li>
      <li>
        <h3><%= @cookbook_count %> <small>Cookbooks</small></h3>
      </li>
      <li>
        <h3><%= @download_count %> <small>Downloads</small></h3>
      </li>
      <li>
        <h3><%= @user_count %> <small>Chefs</small></h3>
      </li>
    </ul>
  </section>
</div>
