<%= provide(:title, "Manage Profile") %>

<div class="page profile" data-equalizer>
  <%= render 'users/sidebar' %>

  <div class="main" data-equalizer-watch>
    <h1>Manage Profile</h1>

    <dl class="tabs radius" data-tab data-options="deep_linking:true">
      <dd class="active"><a href="#profile" rel="manage_profile">Edit Profile</a></dd>
      <% if Feature.active?(:github) %>
        <dd><a href="#github-accounts" rel="manage_github_accounts">GitHub Accounts</a></dd>
      <% end %>
      <dd><a href="#collaborations" rel="manage_collaborations">Collaborations</a></dd>
      <dd><a href="#keys" rel="manage_keys">Keys</a></dd>
    </dl>

    <div class="tabs-content">
      <div class="content active" id="profile">
        <%= form_for(prep_email_preferences(current_user), url: profile_path, html: { 'data-abide' => true }) do |f| %>
          <%= render 'application/form_errors', record: current_user %>

          <p>Your email, password and name are maintained and managed by your Chef account. <%= link_to 'Edit them here.', chef_profile_url %> They will be updated the next time you sign in to Supermarket. Avatars are powered by <%= link_to 'Gravatar', 'https://www.gravatar.com' %>.</p>

          <fieldset>
            <div class="company-field">
              <%= f.label :company %>
              <%= f.text_field :company, placeholder: 'Company', title: 'Company' %>
            </div>
            <div class="twitterusername-field">
              <%= f.label :twitter_username, "Twitter Username" %>
              <%= f.text_field :twitter_username, placeholder: 'Twitter Username', title: 'twitter username' %>
            </div>
            <div class="slackusername-field">
              <%= f.label :slack_username, "Chef Community Slack Username" %>
              <%= f.text_field :slack_username, placeholder: 'Slack Username', title: 'slack username' %>
            </div>
          </fieldset>
          <fieldset>
            Email Preferences<br><br>
            <%= f.fields_for :email_preferences, sorted_email_preferences(f.object) do |ff| %>
              <div>
                <%= ff.check_box :_destroy, { checked: ff.object.persisted? }, '0', '1' %>
                <%= ff.label :_destroy, ff.object.system_email.name %>
                <%= ff.hidden_field :system_email_id %>
              </div>
            <% end %>
          </fieldset>
          <%= f.submit 'Update Profile', class: 'button primary radius' %>
        <% end %>
      </div>

      <% if Feature.active?(:github) %>
        <div class="content" id="github-accounts">
          <p>Linking your account lets other cookbook shoppers find you on GitHub for feedback, collaboration, and kudos. The link requests access only to your GitHub account's public information.</p>
          <table>
            <% current_user.accounts.for('github').each do |account| %>
              <tr>
                <td><i class="fa fa-github"></i> <%= account.username %></td>
                <td class="text-right"><%= link_to 'Disconnect This Account', user_account_url(current_user, account), method: :delete, rel: 'disconnect_github', class: 'button tiny alert radius' %></td>
              </tr>
            <% end %>
          </table>

          <%= link_to '<i class="fa fa-github"></i> Connect GitHub Account'.html_safe, auth_path(:github), method: :post, class: 'button radius', rel: 'connect_github' %>
        </div>
      <% end %>
      <div class="content" id="collaborations">
        <% if current_user.collaborated_cookbooks.empty? %>
          <p>You are currently not a collaborator on any resources. Once you are, they will be listed here.</p>
        <% else %>
          <p>The resources you are a collaborator on.</p>

          <table>
            <% current_user.collaborators.each do |collaborator| %>
              <tr>
                <td><%= link_to collaborator.resourceable.name, collaborator.resourceable %></td>
                <td><%= collaborator.resourceable.class.name %></td>
                <td class="text-right"><%= link_to 'Remove Myself as a Collaborator',
                collaborator_path(collaborator), remote: true, method: :delete,
                data: {confirm: "Are you sure you want to remove yourself as a collaborator "\
                "from the cookbook #{collaborator.resourceable.name} ? You will not be able to add yourself back without the help of the "\
                "cookbook owner."},
                class: 'button tiny alert radius', rel: 'remove_collaboration' %></td>
              </tr>
            <% end %>
          <% end %>
          </table>
      </div>
      <div class="content" id="keys">
        <p>Your Supermarket key is the same as your key on the associated Chef
           Server. You can change your credentials or keys by logging into
           <a href="<%= chef_oauth2_url %>">this Supermarket's Chef Server</a>.</p>
        <% if current_user.public_key_signature -%>
          <p>Current key fingerprint for this Supermarket is:</p>
          <p><pre class="install"><%= current_user.public_key_signature %></pre></p>
          <p>This fingerprint should match the fingerprint of the private key you
             have configured in knife. Check with:</p>
          <p><pre class="install">openssl rsa -in your/private_key.pem -pubout -outform DER | openssl md5 -c</pre></p>
          <p>If the signatures do not match, it could be that you have a newer key
             on the Chef Server than the one known by Supermarket. Supermarket can
             get the latest key if you log out of Supermarket and then log back in
             to trigger an account refresh between the systems.</p>
        <% else -%>
          <p><i class="fa fa-warning"></i> The account information from
             <a href="<%= chef_oauth2_url %>">the associated Chef Server</a>
             does not appear to contain a public key. Try logging out of
             Supermarket and logging back in. If your key still does not appear
             here, there is probably an issue with the authentication services
             between Supermarket and the Chef Server. Check
             <a href="http://status.chef.io/">status.chef.io</a> for service
             alerts or for private Supermarkets contact support. You will not be
             able to use Supermarket clients (e.g. knife supermarket or stove)
             to publish cookbooks until a public key is associated with your
             account.</p>
        <% end -%>
      </div>
    </div>
  </div>
</div>
