<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Chef Supermarket</title>
  <%= stylesheet_link_tag "mailers", media: "all" %>
</head>
<body>
  <table cellpadding="0" cellspacing="0" border="0" width="100%" id="wrapper">
    <tr>
      <td align="center">
        <table class="content" cellpadding="0" cellspacing="0" border="0" width="720">
          <tr>
            <td class="header" align="center">
              <%= image_tag "logo_email.jpg", alt: "Chef Supermarket", title: "Chef Supermarket", width: 235, height: 72, class: "image_fix" %>
            </td>
          </tr>
          <tr>
            <td class="body">
              <% if @cla_signature.is_a?(CclaSignature) %>
                <h1>A new CCLA has been signed.</h1>
                <%= link_to "View Signed CCLA", ccla_signature_url(@cla_signature), class: "button signedcla" %>
                <p><%= @cla_signature.name %> signed a CCLA on behalf of <%= @cla_signature.company %>.</p>
              <% elsif @cla_signature.is_a?(IclaSignature) %>
                <h1>A new ICLA has been signed.</h1>
                <%= link_to "View Signed ICLA", ccla_signature_url(@cla_signature), class: "button signedcla" %>
                <p><%= @cla_signature.name %> signed an ICLA.</p>
              <% end %>
              <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <td class="panel">
                    <h2><%= @cla_signature.name %></h2>
                    <h3><%= @cla_signature.company %></h3>

                    <small>
                      <%= image_tag "emailicon_email.jpg", width: 16, height: 13, class: 'icon image_fix' %>
                      <%= @cla_signature.email %>&nbsp;&nbsp;&nbsp;&nbsp;
                      <%= image_tag "emailicon_phone.jpg", width: 15, height: 15, class: 'icon image_fix' %>
                      <%= number_to_phone(@cla_signature.phone) %><br>
                      <%= image_tag "emailicon_address.jpg", width: 16, height: 15, class: 'icon image_fix' %>
                      <%= @cla_signature.address_line_1 %><br><%= @cla_signature.address_line_2 %>

                      <% @cla_signature.user.accounts.for('github').each do |account| %>
                        <%= image_tag "emailicon_github.jpg", width: 16, height: 16, class: 'icon image_fix' %>
                        <%= link_to account.username, "https://www.github.com/#{account.username}" %>
                      <% end %>
                    </small>

                    <%= link_to 'Supermarket Profile', user_url(@cla_signature.user), class: 'button lightbutton' %>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <p align="center" class="footer">
          <strong>Chef</strong> &#8226; 1008 Western Ave #600 &#8226; Seattle, WA 98104<br>
          This email was sent to <%= @to %>
        </p>
      </td>
    </tr>
  </table>
  <!-- End of wrapper table -->
</body>
</html>
