<%= provide(:title, "Sign ICLA") %>

<div class="page withspace contribute">
  <h1>Individual Contributor License Agreement <small>(ICLA)</small></h1>

  <p>
    You have been asked to sign an ICLA as part of the <%= link_to 'Community Contribution process', chef_docs_url('community_contributions.html'), target: :blank %>. Please read the document below and complete the form to file your ICLA you may also view a printable copy <%= link_to 'here', agreement_icla_signatures_path, target: 'blank' %>.
  </p>

  <div class="signature">
    <%= form_for(@icla_signature, data: { abide: true }) do |f| %>
      <%= render 'application/form_errors', record: @icla_signature %>
      <%= render 'fields', f: f %>

      <section>
        <%= f.submit 'Sign ICLA', class: 'radius button expand' %>
      </section>
    <% end %>
  </div>

  <div class="agreement">
    <div class="panel">
      <header><%= render_markdown(@icla_signature.icla.head) %></header>
      <section>
        <%= render_markdown(@icla_signature.icla.body) %>
        <footer><%= @icla_signature.icla.version %></footer>
      </section>
    </div>
  </div>
</div>
