<h1>New version of <%= @cookbook.name %> released.</h1>
<p>A new version of <%= @cookbook.name %> has been released [<%= @cookbook.latest_cookbook_version.version %>].</p>
<%= link_to 'View Version', cookbook_version_url(@cookbook, @cookbook.latest_cookbook_version), class: 'button accept' %>

<div class="changelog">
  <% if @cookbook.latest_cookbook_version.changelog.present? %>
    <h2 class="title">Changelog</h2>
    <%= HTML_Truncator.truncate(render_document(@cookbook.latest_cookbook_version.changelog, @cookbook.latest_cookbook_version.changelog_extension), 30, ellipsis: '').html_safe %>

    <%= link_to 'View Full Changelog', cookbook_version_url(@cookbook, @cookbook.latest_cookbook_version, anchor: 'changelog'), class: 'button accept' %>
  <% end %>
</div>

<%= link_to 'Unsubscribe', unsubscribe_url(@email_preference) %>
