<%= provide(:title, "#{@cookbook.name} Cookbook") %>
<%= provide(:description, @cookbook.description) %>

<div class="cookbook_show">
  <%= render 'cookbooks/breadcrumbs', cookbook: @cookbook %>
  <%= render 'cookbooks/main', cookbook: @cookbook, version: @version, cookbook_versions: @cookbook_versions %>
  <%= render 'cookbooks/sidebar', cookbook: @cookbook, version: @version, supported_platforms: @supported_platforms, maintainer: @maintainer, collaborators: @collaborators %>
</div>
