<%= provide(:title, "CCLA Invitations for #{@organization.name}") %>

<div class="page">
  <div class="cla">
    <h1>Corporate Contributor License Agreement for <%= @organization.name %> <small>(CCLA)</small></h1>

    <%= render "ccla_signatures/organization_tabs", ccla_signature: @organization.latest_ccla_signature %>

    <div class="contributors">
      <%= form_tag organization_invitations_path(@organization), data: { abide: true }, class: 'new_invitations' do %>
        <div>
          <%= text_area_tag 'invitations[emails]', '', required: true, placeholder: 'Contributor Emails (Comma Separated)' %>
          <small class="error">You must have at least one email</small>
        </div>

        <%= label_tag do %>
          <%= check_box_tag 'invitations[admin]' %>
          Admin
        <% end %>
        <%= submit_tag 'Send Invitation (s)', class: 'button radius' %>
      <% end %>

      <h2>Contributors</h2>

      <table width="100%">
        <thead>
          <tr>
            <th>Email</th>
            <th>Admin</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @pending_invitations.each do |invitation| %>
            <tr class="contributor <%= invitation.admin? ? 'admin' : '' %>">
              <td><%= invitation.email %></td>
              <td>
                <%= form_for [@organization, invitation], remote: true do |f| %>
                  <%= f.check_box :admin, class: 'auto trigger' %>
                <% end %>
              </td>
              <td><%= "Pending" %></td>
              <td>
                <ul class="button-group radius">
                  <li><%= link_to "Resend", resend_organization_invitation_path(@organization, invitation), method: :patch, class: 'button secondary tiny', rel: 'resend_invitation' %></li>
                  <li><%= link_to "Revoke", revoke_organization_invitation_path(@organization, invitation), method: :delete, class: 'button alert tiny', rel: 'revoke_invitation' %></li>
                </ul>
              </td>
            </tr>
          <% end %>

          <% @contributors.each do |contributor| %>
            <tr class="contributor <%= contributor.admin? ? 'admin' : '' %>">
              <td><%= contributor.email %></td>
              <td>
                <% if contributor.user != current_user %>
                  <%= form_for [@organization, contributor], remote: true do |f| %>
                    <%= f.check_box :admin, class: 'auto trigger' %>
                  <% end %>
                <% else %>
                  <%= tag(:input, type: 'checkbox', disabled: true, checked: contributor.admin?) %>
                <% end %>
              </td>
              <td><%= "Active" %></td>
              <td>
                <% if policy(contributor).destroy? %>
                  <%= remove_contributor_link_for(contributor) %>
                <% else %>
                  -
                <% end %>
              </td>
            </tr>
          <% end %>

          <% @declined_invitations.each do |invitation| %>
            <tr class="contributor <%= invitation.admin? ? 'admin' : '' %>">
              <td><%= invitation.email %></td>
              <td><%= invitation.admin? ? 'Admin' : 'Contributor' %></td>
              <td><%= "Declined" %></td>
              <td>-</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
