<div class="cookbook_show_content small-12 large-8 columns">
  <h1 class="cookbook_show_heading">
    <%= cookbook.name %>
    <small class="version_dropdown">
      <%= link_to version.version, '#', 'data-dropdown' => 'versions', class: 'button radius tiny dropdown secondary', rel: 'cookbook_versions' %>
      <ul id="versions" data-dropdown-content class="f-dropdown">
        <% cookbook_versions.each do |cookbook_version| %>
          <li>
            <%= link_to cookbook_version_path(cookbook, cookbook_version), rel: 'cookbook_version' do %>
              <%= cookbook_version.version %>
              <% if cookbook_version == version %><i class="fa fa-check right"></i><% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </small>
    <small class="versions_count">
      <%= pluralize cookbook_versions.count, 'Version' %>
    </small>
    <small>
      <%= link_to cookbook_path(cookbook, format: 'atom'), class: 'rss_feed_link' do %>
        <i class="fa fa-rss"></i> RSS
      <% end %>
    </small>
    <small class="followbutton">
      <%= follow_button_for(cookbook) %>
    </small>
  </h1>

  <code><pre>knife cookbook site install <%= cookbook.name %></pre></code>

  <p><%= cookbook.description %></p>

  <dl class="tabs" data-tab>
    <dd class="active"><a href="#readme">README</a></dd>
    <dd><a href="#dependencies" rel="cookbook_dependencies">Dependencies</a></dd>
  </dl>
  <div class="tabs-content">
    <div class="content active" id="readme">
      <%= render_readme(version.readme, version.readme_extension) %>
    </div>
    <div class="content" id="dependencies">
      <%= render partial: 'cookbooks/dependency', collection: cookbook.cookbook_dependencies %>
    </div>
  </div>
</div>
