<div class="main" data-equalizer-watch>
  <small class="rss">
    <%= link_to cookbook_path(cookbook, format: 'atom'), class: 'rss_feed_link' do %>
      <i class="fa fa-rss"></i> RSS
    <% end %>
  </small>
  <h1 class="heading">
    <%= cookbook.name %>
    <small class="version_dropdown">
      <%= link_to '#', 'data-dropdown' => 'versions', class: 'button radius tiny dropdown secondary', rel: 'cookbook_versions' do %>
        <span class="versions_count">
          <%= pluralize "(#{cookbook_versions.count})", 'Version' %>
        </span>
        <%= version.version %>
      <% end %>
      <ul id="versions" data-dropdown-content class="f-dropdown">
        <li>
          <ul>
            <% cookbook_versions.each do |cookbook_version| %>
              <li>
                <%= link_to cookbook_version_path(cookbook, cookbook_version), rel: 'cookbook_version' do %>
                  <%= cookbook_version.version %>
                  <% if cookbook_version == version %><i class="fa fa-check right"></i><% end %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </li>
      </ul>
    </small>
    <small class="followbutton">
      <%= follow_button_for(cookbook) %>
    </small>
  </h1>

  <pre class="install">knife cookbook site install <%= cookbook.name %></pre>

  <p><%= cookbook.description %></p>

  <dl class="tabs" data-tab>
    <dd class="active"><a href="#readme">README</a></dd>
    <dd><a href="#dependencies" rel="cookbook_dependencies">Dependencies</a></dd>
  </dl>
  <div class="tabs-content">
    <div class="content active" id="readme">
      <%= render_readme(version.readme, version.readme_extension) %>
    </div>
    <div class="content" id="dependencies">
      <table>
        <tbody>
          <%= render partial: 'cookbooks/dependency', collection: cookbook.cookbook_dependencies %>
        </tbody>
      </table>
    </div>
  </div>
</div>
