<div class="main" data-equalizer-watch>
  <% if cookbook.deprecated? %>
    <div class="deprecation-notice">
      <h2 class="deprecation-copy">
        <% if cookbook.replacement.present? %>
          <i class="fa fa-exclamation-triangle"></i> <%= cookbook.name %> has been deprecated in favor of <%= link_to cookbook.replacement.name, cookbook.replacement %>
        <% else %>
          <i class="fa fa-exclamation-triangle"></i> <%= cookbook.name %> has been deprecated
        <% end %>
      </h2>
    </div>
  <% end %>

  <small class="rss">
    <%= link_to cookbook_path(cookbook, format: 'atom'), class: 'rss_feed_link' do %>
      <i class="fa fa-rss"></i> RSS
    <% end %>
  </small>
  <h1 class="heading">
    <%= cookbook.name %>
    <small class="version_dropdown">
      <%= link_to '#', 'data-dropdown' => 'versions', class: 'button radius tiny dropdown secondary', rel: 'cookbook_versions' do %>
        <span class="versions_count">
          <%= pluralize "(#{cookbook_versions.count})", 'Version' %>
        </span>
        <%= version.version %>
      <% end %>
      <ul id="versions" data-dropdown-content class="f-dropdown">
        <li>
          <ul>
            <% cookbook_versions.each do |cookbook_version| %>
              <li>
                <%= link_to cookbook_version_path(cookbook, cookbook_version), rel: 'cookbook_version' do %>
                  <%= cookbook_version.version %>
                  <% if cookbook_version == version %><i class="fa fa-check right"></i><% end %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </li>
      </ul>
    </small>

    <%= render 'cookbooks/follow_button_show', cookbook: @cookbook %>
  </h1>

  <p><%= cookbook.description %></p>

  <div class="installs">
    <dl data-tab data-options="deep_linking:true; scroll_to_content: false;">
      <dd class="active"><a href="#berkshelf" class="button tiny secondary">Bershelf</a></dd>
      <dd><a href="#librarian" class="button tiny secondary">Librarian</a></dd>
      <dd><a href="#knife" class="button tiny secondary">Knife</a></dd>
    </dl>

    <div class="tabs-content">
      <div class="content active" id="berkshelf">
        <pre class="install">cookbook '<%= cookbook.name %>', '~&gt; <%= cookbook.latest_cookbook_version.version %>'</pre>
      </div>
      <div class="content" id="librarian">
        <pre class="install">cookbook '<%= cookbook.name %>', '~&gt; <%= cookbook.latest_cookbook_version.version %>'</pre>
      </div>
      <div class="content" id="knife">
        <pre class="install">knife cookbook site install <%= cookbook.name %></pre>
        <pre class="install">knife cookbook site download <%= cookbook.name %></pre>
      </div>
    </div>
  </div>

  <dl class="tabs" data-tab data-options="deep_linking:true">
    <dd class="active"><a href="#readme">README</a></dd>
    <dd><a href="#dependencies" rel="cookbook_dependencies">Dependencies</a></dd>
  </dl>
  <div class="tabs-content">
    <div class="content active" id="readme">
      <%= render_readme(version.readme, version.readme_extension) %>
    </div>
    <div class="content" id="dependencies">
      <table>
        <tbody>
          <%= render partial: 'cookbooks/dependency', collection: cookbook.cookbook_dependencies %>
        </tbody>
      </table>
    </div>
  </div>
</div>
