<div class="sidebar" data-equalizer-watch>
  <div class="owner_avatar">
    <%= link_to owner do %>
      <%= gravatar_for owner, size: 144 %>
      <%= owner.username %>
      <small><%= owner.name %></small>
    <% end %>
  </div>
  <div class="collaborators_avatar">
    <% collaborators.each do |collaborator| %>
      <div class="gravatar-container">
        <%= link_to gravatar_for(collaborator, size: 80), collaborator, title: collaborator.name, data: { :dropdown => contributor_options_id(collaborator)} %>
        <% collaboration_permissions_for(cookbook, collaborator) do |transfer, destroy| %>
          <% if transfer || destroy %>
            <ul id="<%= contributor_options_id(collaborator) %>" data-dropdown-content class="f-dropdown">
              <% if transfer %>
                <li><%= link_to '<i class="fa fa-random"></i> Transfer Ownership'.html_safe, transfer_cookbook_collaborator_path(cookbook, collaborator), rel: 'transfer-cookbook-ownership', method: :put %></li>
              <% end %>
              <% if destroy %>
                <li><%= link_to "<i class='fa fa-times-circle'></i> #{contributor_removal_text(cookbook)}".html_safe, cookbook_collaborator_path(cookbook, collaborator), rel: 'remove-cookbook-collaborator', remote: true, method: :delete %></li>
              <% end %>
            </ul>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

  <a href="#" data-dropdown="manage" class="button radius secondary small dropdown">Manage Cookbook</a>
  <ul class="manage_cookbook f-dropdown" id="manage" data-dropdown-content>
    <% if policy(@owner_collaborator).create? %>
      <li>
        <%= link_to new_cookbook_collaborator_path(cookbook), class: 'addcontributor', rel: 'add-collaborator', 'data-reveal-id' => 'collaborators', 'data-reveal-ajax' => true do %>
          <i class="fa fa-plus-square"></i>
          Add Collaborator
        <% end %>
      </li>
      <div id="collaborators" class="reveal-modal small" data-reveal>
      </div>
    <% end %>

    <% if policy(cookbook).transfer_ownership? %>
      <li>
        <%= link_to '#', rel: 'transfer_ownership', 'data-reveal-id' => 'transfer' do %>
          <i class="fa fa-random"></i>
          Transfer Ownership
        <% end %>
      </li>

      <div id="transfer" class="reveal-modal small" data-reveal>
        <h1>Transfer Ownership</h1>
        <a class="close-reveal-modal">&#215;</a>

        <%= form_for cookbook, url: transfer_ownership_cookbook_path(cookbook), method: :put do |f| %>
          <div class="row collapse">
            <div class="small-9 columns">
              <%= f.hidden_field :user_id, class: 'collaborators', 'data-url' => cookbook_collaborators_path(cookbook, eligible_for: 'ownership') %>
            </div>
            <div class="small-3 columns">
              <%= f.submit 'Transfer', class: 'button radius postfix' %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <% if policy(cookbook).deprecate? %>
      <li>
        <%= link_to '#', class: 'deprecate', rel: 'deprecate', 'data-reveal-id' => 'deprecate' do %>
          <i class="fa fa-archive"></i>
          Deprecate
        <% end %>
      </li>

      <div id="deprecate" class="reveal-modal small" data-reveal>
        <h1>Deprecate Cookbook</h1>

        <p>You can deprecate your cookbook if you are no longer maintaining it. You must select a replacement cookbook in order to deprecate your cookbook.</p>

        <a class="close-reveal-modal">&#215;</a>

        <%= form_for cookbook, url: deprecate_cookbook_path(cookbook), method: :put do |f| %>
          <div class="row collapse">
            <div class="small-9 columns">
              <%= f.hidden_field :replacement, class: 'cookbook-deprecate', 'data-url' => api_v1_search_path %>
            </div>
            <div class="small-3 columns">
              <%= f.submit 'Deprecate', class: 'button radius postfix' %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <% if policy(cookbook).toggle_featured? %>
      <li>
        <%= link_to toggle_featured_cookbook_path(cookbook), method: 'put', rel: 'toggle_featured' do %>
          <i class="fa fa-star"></i>
          <%= cookbook.featured? ? 'Unfeature' : 'Feature' %>
        <% end %>
      </li>
    <% end %>
  </ul>

  <h3>
    <% if policy(cookbook).manage_cookbook_urls? %>
      <%= link_to '#', class: 'show-cookbook-urls-manage', rel: 'edit-cookbook-urls' do %>
         <i class="fa fa-gear"></i>
      <% end %>
    <% end %>
    Details
  </h3>

  <div class="cookbook-details">
    <% if policy(cookbook).manage_cookbook_urls? %>
      <div class="manage-cookbook-urls hide">
        <%= form_for cookbook, data: { abide: true } do |f| %>
          <div class="source-url-field">
            <%= f.text_field :source_url, placeholder: 'Source URL: http://example.com', pattern: 'url' %>
            <small class="error">Must be formatted as a URL.</small>
          </div>

          <div class="issues-url-field">
            <%= f.text_field :issues_url, placeholder: 'Issues URL: http://example.com', pattern: 'url' %>
            <small class="error">Must be formatted as a URL.</small>
          </div>

          <%= f.submit 'Save', class: 'button radius tiny submit-urls', data: { disable_with: 'Saving...' } %>
          <a href="#" class="button radius tiny secondary cancel-submit-urls">Cancel</a>
        <% end %>
      </div>
    <% end %>

    <div class="cookbook-urls">
      <% if cookbook.source_url.present? %>
        <%= link_to 'View Source', cookbook.source_url, class: 'button secondary radius tiny source-url' %>
      <% end %>

      <% if cookbook.issues_url.present? %>
        <%= link_to 'View Issues', cookbook.issues_url, class: 'button secondary radius tiny issues-url' %>
      <% end %>
    </div>

    <h4>
      <i class="fa fa-clock-o"></i> Updated <%= version.updated_at.to_s(:longish) %>
      <small>Created on <%= cookbook.created_at.to_s(:longish) %></small>
    </h4>

    <h4><i class="fa fa-desktop"></i> Platforms</h4>
    <ul class="cookbook_platforms">
      <% if cookbook.supported_platforms.present? %>
        <% supported_platforms.each do |platform| %>
          <li class="cookbook_platform_icon has-tip" title="<%= platform.name %> <%= platform.version_constraint %>" data-tooltip data-icon="<%= supported_platform_icon(platform) %>">
            <span><%= platform.name %></span>
          </li>
        <% end %>
      <% else %>
        <li data-tooltip class="has-tip cookbook_no_platform_icon" title="Not specified">
          <span class="fa fa-question-circle"></span>
        </li>
      <% end %>
    </ul>

    <h4><i class="fa fa-key"></i> License</h4>
    <p><%= version.license %></p>

    <h4 class="cookbook_show_sidebar_downloads">
      <i class="fa fa-download"></i> <%= number_with_delimiter(version.download_count) %> Downloads of Version <%= version.version %>
      <small><%= number_with_delimiter(cookbook.download_count) %> Total Downloads</small>
    </h4>
    <%= link_to "Download Cookbook", download_cookbook_path(cookbook), class: 'button secondary radius expand button_download_cookbook' %>
  </div>
</div>
