<%= provide(:title, "Cookbooks Directory") %>
<%= provide(:description, "Browse and search Chef cookbooks. Learn how to use and create cookbooks for configuring your infrastructure.") %>

<div class="page nobg">
  <section class="cookbooks_stats">
    <%= render 'resources/community_stats', cookbook_count: @cookbook_count, user_count: @user_count %>
  </section>

  <ul class="cookbooks_columns <%= 'four_up' if @featured_cookbooks.any? %>">
    <% if @featured_cookbooks.any? %>
      <li class="cookbooks_column last most-followed">
        <div class="cookbooks_column_content">
          <h2 class="title">Featured</h2>
          <ul class="simple_listing">
            <% @featured_cookbooks.each do |cookbook| %>
              <%= render "simple_cookbook", cookbook: cookbook %>
            <% end %>
          </ul>
          <%= link_to 'View All', cookbooks_path(featured: true), class: 'button radius expand' %>
        </div>
      </li>
    <% end %>

    <li class="cookbooks_column first recently-updated">
      <div class="cookbooks_column_content">
        <h2 class="title">Recently Updated</h2>
        <ul class="simple_listing">
          <% @recently_updated_cookbooks.each do |cookbook| %>
            <%= render "simple_cookbook", cookbook: cookbook %>
          <% end %>
        </ul>
        <%= link_to 'View All', cookbooks_path(order: 'recently_updated'), class: 'button radius expand' %>
      </div>
    </li>

    <li class="cookbooks_column most-downloaded">
      <div class="cookbooks_column_content">
        <h2 class="title">Most Downloaded</h2>
        <ul class="simple_listing">
          <% @most_downloaded_cookbooks.each do |cookbook| %>
            <%= render "simple_cookbook", cookbook: cookbook %>
          <% end %>
        </ul>
        <%= link_to 'View All', cookbooks_path(order: 'most_downloaded'), class: 'button radius expand' %>
      </div>
    </li>

    <li class="cookbooks_column last most-followed">
      <div class="cookbooks_column_content">
        <h2 class="title">Most Followed</h2>
        <ul class="simple_listing">
          <% @most_followed_cookbooks.each do |cookbook| %>
            <%= render "simple_cookbook", cookbook: cookbook %>
          <% end %>
        </ul>
        <%= link_to 'View All', cookbooks_path(order: 'most_followed'), class: 'button radius expand' %>
      </div>
    </li>
  </ul>

  <h2 class="text-center">Learn About Cookbooks</h2>

  <div class="learn_about_cookbooks">
    <div class="learn_about_cookbooks_content">
      <h3>What is a cookbook?</h3>
      <p>A cookbook is the fundamental unit of configuration and policy
      distribution in Chef. Each cookbook defines a scenario, such as everything
      needed to install and configure MySQL, and then it contains all of the
      components that are required to support that scenario. Chef maintains a
      collection of cookbooks that are important to Chef and are widely used by
      the Chef community.</p>

      <h3>How do I use a cookbook?</h3>
      <p>Interact with cookbooks by using the <code>knife cookbook</code> commands.
      With <code>knife cookbook</code>, you can create, delete, show, list,
      download and upload cookbooks. Read the <%= link_to 'knife cookbook commands documentation', chef_docs_url('knife_cookbook.html') %> for more information.</p>

      <h3>How do I share a cookbook?</h3>
      <p>In order to share and interact with cookbooks on Supermarket, use the
      <code>knife cookbook site</code> commands. <%= link_to 'The documentation', chef_docs_url('knife_cookbook_site.html') %> for <code>knife cookbook site</code> explains how to
      download, share, unshare, search, install and list cookbooks on Supermarket.
      You can also interact with the <%= link_to 'Supermarket API', chef_docs_url('api_cookbooks_site.html') %> directly.</p>

      <h3>How do I adopt a cookbook?</h3>
      <p><%= link_to 'Click here', available_for_adoption_path %> to view the list of adoptable cookbooks.</p>
    </div>

    <div class="learn_about_cookbooks_sidebar">
      <h3>Cookbook Resources</h3>

      <ul>
        <li>
          <%= link_to 'About cookbooks', chef_docs_url('essentials_cookbooks.html') %>
        </li>

        <li>
          <%= link_to 'About recipes', chef_docs_url('essentials_cookbook_recipes.html') %>
        </li>

        <li>
          <%= link_to 'Supermarket cookbooks API documentation', chef_docs_url('api_cookbooks_site.html') %>
        </li>

        <li>
          <%= link_to 'Berkshelf documentation', 'http://berkshelf.com' %>
        </li>

        <li>
          <%= link_to 'knife documentation', chef_docs_url('chef/knife.html') %>
        </li>

        <li>
          <%= link_to 'test-kitchen documentation', chef_docs_url('kitchen.html') %>
        </li>

        <li>
          <%= link_to 'Foodcritic documentation', chef_docs_url('foodcritic.html') %>
        </li>

        <li>
          <%= link_to 'Chef Development Kit (Chef DK)', chef_downloads_url('chef-dk') %>
        </li>

        <li>
          <a href="https://github.com/chef-cookbooks">Cookbooks maintained and supported by Chef Software, Inc.</a>
        </li>
      </ul>
    </div>
  </div>
</div>
