<div class="recently-updated">
  <h2>Recently Updated</h3>
  <%= link_to 'View All', cookbooks_path(order: 'updated_at') %>
  <%= link_to 'RSS', cookbooks_path(order: 'updated_at', format: 'atom') %>

  <% @recently_updated_cookbooks.each do |cookbook| %>
    <%= render cookbook %>
  <% end %>
</div>

<div class="recently-created">
  <h2>Recently Created</h3>
  <%= link_to 'View All', cookbooks_path(order: 'created_at') %>
  <%= link_to 'RSS', cookbooks_path(order: 'created_at', format: 'atom') %>

  <% @recently_created_cookbooks.each do |cookbook| %>
    <%= render cookbook %>
  <% end %>
</div>
