<%= provide(:title, "Cookbooks Directory") %>
<%= provide(:description, "Browse and search Chef cookbooks. Learn how to use and create cookbooks for configuring your infrastructure.") %>

<div class="page nobg">
  <section class="cookbooks_stats">
    <span class="stat"><span class="number"><%= number_with_delimiter @cookbook_count, delimiter: ',' %></span> Cookbooks</span>
    <span class="stat"><span class="number"><%= number_with_delimiter @user_count, delimiter: ',' %></span> Chefs</span>
  </section>

  <ul class="cookbooks_columns <%= 'four_up' if @featured_cookbooks.any? %>">
    <% if @featured_cookbooks.any? %>
      <li class="cookbooks_column last most-followed">
        <div class="cookbooks_column_content">
          <h2 class="title">Featured</h2>
          <ul class="simple_listing">
            <% @featured_cookbooks.each do |cookbook| %>
              <%= render "simple_cookbook", cookbook: cookbook %>
            <% end %>
          </ul>
          <%= link_to 'View All', cookbooks_path(featured: true), class: 'button radius expand' %>
        </div>
      </li>
    <% end %>

    <li class="cookbooks_column first recently-updated">
      <div class="cookbooks_column_content">
        <h2 class="title">Recently Updated</h2>
        <ul class="simple_listing">
          <% @recently_updated_cookbooks.each do |cookbook| %>
            <%= render "simple_cookbook", cookbook: cookbook %>
          <% end %>
        </ul>
        <%= link_to 'View All', cookbooks_path(order: 'recently_updated'), class: 'button radius expand' %>
      </div>
    </li>

    <li class="cookbooks_column most-downloaded">
      <div class="cookbooks_column_content">
        <h2 class="title">Most Downloaded</h2>
        <ul class="simple_listing">
          <% @most_downloaded_cookbooks.each do |cookbook| %>
            <%= render "simple_cookbook", cookbook: cookbook %>
          <% end %>
        </ul>
        <%= link_to 'View All', cookbooks_path(order: 'most_downloaded'), class: 'button radius expand' %>
      </div>
    </li>

    <li class="cookbooks_column last most-followed">
      <div class="cookbooks_column_content">
        <h2 class="title">Most Followed</h2>
        <ul class="simple_listing">
          <% @most_followed_cookbooks.each do |cookbook| %>
            <%= render "simple_cookbook", cookbook: cookbook %>
          <% end %>
        </ul>
        <%= link_to 'View All', cookbooks_path(order: 'most_followed'), class: 'button radius expand' %>
      </div>
    </li>
  </ul>

  <h2 class="text-center">Learn About Cookbooks</h2>

  <div class="learn_about_cookbooks">
    <div class="learn_about_cookbooks_content">
      <h3>What is a cookbook?</h3>
      <p>A cookbook is the fundamental unit of configuration and policy
      distribution in Chef. Each cookbook defines a scenario, such as everything
      needed to install and configure MySQL, and then it contains all of the
      components that are required to support that scenario. Chef maintains a
      collection of cookbooks that are important to Chef and are widely used by
      the Chef community.</p>

      <h3>How do I use a cookbook?</h3>
      <p>Interact with cookbooks by using the <code>knife cookbook</code> commands.
      With <code>knife cookbook</code>, you can create, delete, show, list,
      download and upload cookbooks. Read the <a href="http://docs.opscode.com/knife_cookbook.html">
      knife cookbook commands documentation</a> for more information.</p>

      <h3>How do I share a cookbook?</h3>
      <p>In order to share and interact with cookbooks on Supermarket, use the
      <code>knife cookbook site</code> commands. <a href="http://docs.opscode.com/knife_cookbook_site.html">
      The documentation</a> for <code>knife cookbook site</code> explains how to
      download, share, unshare, search, install and list cookbooks on Supermarket.
      You can also interact with the <a href="http://docs.opscode.com/api_cookbooks_site.html">
      Supermarket API</a> directly.</p>
    </div>

    <div class="learn_about_cookbooks_sidebar">
      <h3>Cookbook Resources</h3>

      <ul>
        <li>
          <a href="http://docs.opscode.com/essentials_cookbooks.html">About cookbooks</a>
        </li>

        <li>
          <a href="http://docs.opscode.com/essentials_cookbook_recipes.html">About recipes</a>
        </li>

        <li>
          <a href="http://docs.opscode.com/api_cookbooks_site.html">Supermarket cookbooks API documentation</a>
        </li>

        <li>
          <a href="http://berkshelf.com/">Berkshelf documentation</a>
        </li>

        <li>
          <a href="http://docs.opscode.com/chef/knife.html">knife documentation</a>
        </li>

        <li>
          <a href="http://docs.opscode.com/kitchen.html">test-kitchen documentation</a>
        </li>

        <li>
          <a href="http://docs.opscode.com/foodcritic.html">Foodcritic documentation</a>
        </li>

        <li>
          <a href="http://www.getchef.com/downloads/chef-dk/">Chef Development Kit (Chef DK)</a>
        </li>

        <li>
          <a href="https://github.com/opscode-cookbooks">Cookbooks maintained and supported by Chef Software, Inc.</a>
        </li>
      </ul>
    </div>
  </div>
</div>
