<div class="recently-updated">
  <h2>Recently Updated</h3>

  <% @recently_updated_cookbooks.each do |cookbook| %>
    <div class="cookbook">
      <h3><%= cookbook.name %></h3>
      <%= cookbook.get_version!('latest').version %>
      <span>Updated <%= cookbook.updated_at.to_s(:long) %></span>
    </div>
  <% end %>
</div>

<div class="recently-created">
  <h2>Recently Created</h3>

  <% @recently_created_cookbooks.each do |cookbook| %>
    <div class="cookbook">
      <h3><%= cookbook.name %></h3>
      <%= cookbook.get_version!('latest').version %>
      <span>Created <%= cookbook.created_at.to_s(:long) %></span>
    </div>
  <% end %>
</div>
