<%= provide(:title, "Cookbooks") %>
<%= provide(:description, "Browse and search Chef cookbooks.") %>

<div class="page nobg">
  <section class="cookbook_body">
    <article class="cookbook_content">
      <div class="recently-updated">
        <h2 class="cookbook_content_heading">
          Recently Updated
          <small>
            <%= link_to '<i class="fa fa-rss"></i> RSS'.html_safe, cookbooks_path(order: 'recently_updated', format: 'atom'), class: 'rss_feed_link show-for-medium-up' %>
          </small>
          <%= link_to 'View All', cookbooks_path(order: 'recently_updated'), class: 'button radius small right' %>
        </h2>
        <ul class="cookbook_listing"><%= render @recently_updated_cookbooks %></ul>
      </div>

      <div class="recently-added">
        <h2 class="cookbook_content_heading">
          Recently Added
          <small>
            <%= link_to '<i class="fa fa-rss"></i> RSS'.html_safe, cookbooks_path(order: 'recently_added', format: 'atom'), class: 'rss_feed_link show-for-medium-up' %>
          </small>
          <%= link_to 'View All', cookbooks_path(order: 'recently_added'), class: 'button radius small right' %>
        </h2>
        <ul class="cookbook_listing"><%= render @recently_added_cookbooks %></ul>
      </div>

      <div class="most-downloaded">
        <h2 class="cookbook_content_heading">
          Most Downloaded
          <small>
            <%= link_to '<i class="fa fa-rss"></i> RSS'.html_safe, cookbooks_path(order: 'most_downloaded', format: 'atom'), class: 'rss_feed_link show-for-medium-up' %>
          </small>
          <%= link_to 'View All', cookbooks_path(order: 'most_downloaded'), class: 'button radius small right' %>
        </h2>
        <ul class="cookbook_listing"><%= render @most_downloaded_cookbooks %></ul>
      </div>

      <div class="most-followed">
        <h2 class="cookbook_content_heading">
          Most Followed
          <small>
            <%= link_to '<i class="fa fa-rss"></i> RSS'.html_safe, cookbooks_path(order: 'most_followed', format: 'atom'), class: 'rss_feed_link show-for-medium-up' %>
          </small>
          <%= link_to 'View All', cookbooks_path(order: 'most_followed'), class: 'button radius small right' %>
        </h2>
        <ul class="cookbook_listing"><%= render @most_followed_cookbooks %></ul>
      </div>
    </article>

  </section>
</div>
