<%= provide(:title, "Cookbooks") %>
<%= provide(:description, "Browse and search Chef cookbooks.") %>

<div class="page nobg">

  <section class="cookbook_body">
    <div class="order_cookbooks_by right">
      Filter by
      <%= link_to_sorted_cookbooks 'Most Downloaded', 'most_downloaded' %>
      <%= link_to_sorted_cookbooks 'Most Followed', 'most_followed' %>

    </div>
    <h1 class="cookbook_content_heading">
      <%= feed_title %>
      <small>
        <%= link_to '<i class="fa fa-rss"></i> RSS'.html_safe, params.merge(format: 'atom'), :class => 'rss_feed_link show-for-medium-up' %>
      </small>
    </h1>


    <article class="cookbook_content cookbook_content_category_listing">
      <ul class="cookbook_listing"><%= render @cookbooks %></ul>
      <%= paginate @cookbooks %>
    </article>
  </section>
</div>
