<!-- breadcrumbs -->
<div>breadcrumbs</div>

<div class="row collapse cookbook">
  <div class="small-12 medium-8 columns">
    <h1><%= @cookbook.name %></h1>

    <div class="button">Follow</div>

    <div><pre><code>knife cookbook site install <%= @cookbook.name %></code></pre></div>

    <div><%= @cookbook.description %></div>

    <div><%= render_readme(@latest_version.readme, @latest_version.readme_extension) %></div>
  </div>

  <div class="small-12 medium-4 columns sidebar">
    <div><%= link_to "Download Cookbook", download_cookbook_path(@cookbook) %></div>
    <%= @cookbook.download_count %> total downloads<br />
    <%= @latest_version.download_count %> latest version downloads

    <% if @cookbook.external_url.present? %>
      <%= link_to 'View Source', @cookbook.external_url, class: 'button' %>
    <% end %>

    <div>
      <h4><i class="fa fa-money"></i> Updated <%= @latest_version.updated_at.strftime('%B %-d, %Y') %></h4>

      <div>Created on <%= @cookbook.created_at.strftime('%B %-d, %Y') %></div>
    </div>

    <div>
      <h4><i class="fa fa-money"></i> Versions</h4>
      <ul>
        <% @cookbook_versions.each do |version| %>
          <% if version != @latest_version %>
            <li>
              <%= tooltip_for(version) do %>
                <%= link_to version.version, cookbook_version_path(@cookbook, version), rel: 'cookbook_version' %>
              <% end %>
            </li>
          <% else %>
            <li>
              <%= tooltip_for(version) do %>
                <%= version.version %>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <div>
      <h4><i class="fa fa-money"></i> Platforms</h4>
      <ul>
        <% @supported_platforms.each do |platform| %>
          <li class="cookbook_platform_icon has-tip" title="<%= platform.name %> <%= platform.version_constraint %>" data-tooltip data-icon="<%= supported_platform_icon(platform) %>">
            <span><%= platform.name %></span>
          </li>
        <% end %>
      </ul>
    </div>

    <div>
      <h4><i class="fa fa-money"></i> License</h4>
      <p><%= @latest_version.license %></p>
    </div>

    <div>
      <h4><i class="fa fa-money"></i> Maintainer &amp; Collaborators</h4>
      <div>
        <%= link_to @maintainer do %>
          <%= gravatar_for @maintainer %>
          <%= @maintainer.username %>
          <%= @maintainer.name %>
        <% end %>
      </div>
      <div>
        <% @collaborators.each do |collaborator| %>
          <%= link_to gravatar_for(collaborator), collaborator %>
        <% end %>
      </div>
    </div>
  </div>
</div>
