<!-- breadcrumbs -->
<div>breadcrumbs</div>

<div class="row collapse cookbook">
  <div class="small-12 medium-6 columns">
    <h1><%= @cookbook.name %></h1>

    <div class="button">Follow</div>

    <div><pre><code>knife cookbook site install <%= @cookbook.name %></code></pre></div>

    <div><%= @cookbook.description %></div>

    <div><%= @latest_version.ghfmd_readme %></div>
  </div>

  <div class="small-12 medium-6 columns sidebar">
    <div><%= link_to "Download Cookbook", download_cookbook_path(@cookbook) %></div>
    <%= @cookbook.download_count %> total downloads<br />
    <%= @latest_version.download_count %> latest version downloads

    <div><i class="fa fa-money"></i><%= @latest_version.updated_at.strftime('%B %-d, %Y') %></div>

    <div><%= @cookbook.created_at.strftime('%B %-d, %Y') %></div>

    <div><i class="fa fa-money"></i>Versions</div>

    <div>
      <% @cookbook.cookbook_versions.each do |version| %>
        <%= version.version %>
      <% end %>
    </div>
  </div>
</div>
