<!-- breadcrumbs -->

<div class="cookbook">
  <div class="not-sidebar">
    <h1><%= @cookbook.name %></h1>
    <p>dum follow button</p>
    <p>dum knife command</p>
    <p><%= @cookbook.description %></p>

    <p>dum readme</p>
  </div>

  <div class="small-12 medium-6 columns sidebar">
    <p><%= link_to "Download Cookbook", download_cookbook_path(@cookbook) %></p>
    9001 total downloads
    1001 latest version downloads

    <p><i class="fa fa-money"></i><%= @latest_version.updated_at.strftime('%B %-d, %Y') %></p>

    <p><%= @cookbook.created_at.strftime('%B %-d, %Y') %></p>
    <p><i class="fa-money">Versions</p>
      <p>
        <% @cookbook.cookbook_versions.each do |version| %>
          <%= version.version %>
        <% end %>
      </p>
  </div>
</div>
