<%= provide :title, 'Welcome - The resource for Chef cookbooks' %>
<%= provide :description, "Supermarket is Chef's open-source community platform. Find, explore and view Chef cookbooks for all of your ops needs." %>

<div class="page withspace">
  <% if flash[:signout] %>
    <div class="signout-message">
      <p>You have been signed out of Supermarket but may still be signed in to your Chef account. Visit <%= link_to nil, chef_identity_url %> to sign out completely.</p>
    </div>
  <% end %>

  <section class="sign_up_in">
    <h2 class="text-center">Welcome to Supermarket. Find, explore and view Chef Infra Cookbooks for all of your ops needs.</h2>

    <p class="text-center">
      <%= link_to 'Sign Up For a Chef Account', chef_sign_up_url, class: 'button radius' %>
      <%= link_to 'Sign In With Your Chef Account', sign_in_path, class: 'button radius' %>
    </p>
  </section>

  <section class="welcome_resources">
    <div>
      <h2>Explore</h2>

      <ul>
        <li>
          <%= link_to "Browse Cookbooks", cookbooks_path %>
        </li>
        <li>
          <%= link_to 'Read the Chef Blog', chef_blog_url, target: '_blank', rel: 'noopener' %>
        </li>
      </ul>
    </div>
    <div>
      <h2>Learn</h2>
      <ul>
        <li>
          <%= link_to 'Learn Chef', learn_chef_url, target: '_blank', rel: 'noopener' %>
        </li>
        <li>
          <%= link_to 'Read the Chef Docs', chef_docs_url, target: '_blank', rel: 'noopener' %>
        </li>
        <li>
          <%= link_to 'Community Guidelines', chef_docs_url('community_guidelines'), target: '_blank', rel: 'noopener' %>
        </li>
        <li>
          <%= link_to 'How to Contribute', chef_docs_url('community_contributions'), target: '_blank', rel: 'noopener' %>
        </li>
      </ul>
    </div>
    <div>
      <h2>Share</h2>
      <ul>
        <li>
          <%= link_to 'Share your cookbooks', chef_docs_url('workstation/knife_supermarket#share'), target: '_blank', rel: 'noopener' %>
        </li>
        <li>
          <a href="https://community.chef.io/slack">Join Chef Community Slack</a>
        </li>
        <li>
          <a href="https://discourse.chef.io/" target="_blank" rel="noopener">Join the Chef Mailing List</a>
        </li>
        <li>
          <a href="https://feedback.chef.io" target="_blank" rel="noopener">Share Your Ideas for Improving Chef</a>
        </li>
      </ul>
      </ul>
    </div>
  </section>

  <section class="cookbooks_stats">
    <h2>Community Stats</h3>
    <%= render 'resources/community_stats', cookbook_count: @cookbook_count, user_count: @user_count %>
  </section>
</div>
