<%= provide(:title, "Manage Subscribed Repositories") %>

<div class="page" data-equalizer>
  <div class="main" data-equalizer-watch>
    <h1 class="title">Repositories Watched by Curry</h1>
    <table>
      <tr>
        <th>Repository</th>
        <th colspan="2">Actions</th>
      </tr>

      <% @repositories.each do |repository| %>
        <tr class="repository">
          <td>
            <%= "#{repository.owner}/#{repository.name}" %>
          </td>
          <td>
            <%= link_to "Remove Repository", repository, method: :delete, rel: 'remove_repository' %>
          </td>
          <td>
            <%= link_to "Evaluate Repository", evaluate_curry_repository_path(repository), method: :post, rel: 'evaluate_repository' %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="sidebar" data-equalizer-watch>
    <h1>Add A Repository</h1>

    <%= form_for(@repository) do |f| %>
      <%= f.text_field :full_name, placeholder: 'chef/supermarket' %>
      <%= f.submit "Add Repository", class: 'button radius primary expand' %>
    <% end %>

    <h3>About Curry</h3>
    <p>Curry subscribes to repositories on GitHub in order to determine if any committers in a pull request need to sign a CLA. By adding a repository, Curry will be notified whenever a pull request is opened or updated. Curry will then leave a comment with the list of committers who need to sign a CLA. If all is well, Curry will add a label to the pull request letting you know all committers have signed a CLA.</p>

    <p>When a repository is added, Curry will evaluate and annotate all existing open pull requests on the repository. Evaluating an existing repository will do the same.</p>

    <p>Whenever a new CLA is signed, Curry knows to check and see if that person has any open pull requests on the repositories that Curry subscribes to. If that person is a committer on any open pull requests, Curry will re-evaluate those pull requests and add a label if all is well.</p>
  </div>
</div>
