<h2 class="appheader">Supermarket</h2>
<nav class="usermenu">
  <% if signed_in? %>
    <div class="avatar">
      <%= gravatar_for current_user, size: 80 %>
      <ul class="userdropdown">
        <% unless current_user.signed_icla? %>
          <li><%= link_to 'Sign ICLA', new_icla_signature_path, :class => 'fa fa-file-text' %></li>
        <% end %>

        <li><%= link_to 'Sign CCLA', new_ccla_signature_path, :class => 'fa fa-file-text' %></li>
        <li><%= link_to 'View Profile', current_user, :class => 'fa fa-user' %></li>

        <% if current_user && current_user.is?(:admin) %>
          <li>
            <%= link_to "Watched Repositories", curry_repositories_url, :class => 'fa fa-github' %>
          </li>
        <% end %>

        <li><%= link_to 'Sign Out', sign_out_path, :class => 'fa fa-power-off', method: :delete %></li>
      </ul>
    </div>
  <% else %>
    <%= link_to 'Sign In', sign_in_path, :class => 'signin' %>
  <% end %>
</nav>
<form action="" class="searchform">
  <i class="fa fa-search fa-fw"></i>
  <input type="search" id="searchfield" name="searchfield">
</form>
<nav class="appnav">
  <ul>
    <li><%= link_to 'Contributors', icla_signatures_path %></li>
  </ul>
</nav>
