<div class="heading-with-buttons">
  <h1 class="title">Contributors</h1>
    <% if ROLLOUT.active?(:cla) && ROLLOUT.active?(:github) %>
      <div class="buttons">
        <%= link_to "Become a Contributor", become_a_contributor_path, class: "button tiny radius right" %>
      </div>
    <% end %>
</div>

<dl class="tabs">
  <dd class="<%= "active" if current_page?(contributors_path) %>">
    <%= link_to contributors_path do %>
      All <span><%= User.authorized_contributors.count %></span>
    <% end %>
  </dd>
  <dd class="<%= "active" if current_page?(icla_signatures_path) %>">
    <%= link_to icla_signatures_path, rel: 'individual-contributors' do %>
      Individuals <span><%= IclaSignature.by_user.count %></span>
    <% end %>
  </dd>
  <dd class="<%= "active" if current_page?(ccla_signatures_path) %>">
    <%= link_to ccla_signatures_path, rel: 'companies' do %>
      Companies <span><%= CclaSignature.by_organization.count %></span>
    <% end %>
  </dd>
</dl>
