<header>
  <%= link_to root_path do %>
    <h1>
      Opscode
      <span>Supermarket</span>
    </h1>
  <% end %>

  <nav>
    <ul>
      <li>
        <%= link_to 'Contributors', icla_signatures_path %>
      </li>
      <% if logged_in? %>
        <% unless current_user.signed_icla? %>
          <li>
            <%= link_to 'Sign ICLA', new_icla_signature_path %>
          </li>
        <% end %>

        <li>
          <%= link_to 'Sign Out', logout_path, method: :delete %>
        </li>
      <% else %>
        <li>
          <%= link_to 'Sign In', login_path %>
        </li>
      <% end %>
    </ul>
  </nav>
</header>
