<%= provide(:title, "Become a Contributor") %>
<%= provide(:description, "Walk through the steps to become a contributor to Chef Software, Inc.'s open source projects.") %>

<div class="page" data-equalizer>
  <div class="main" data-equalizer-watch>
    <h1>Become a Contributor</h1>

    <p>In order to become a contributor to Chef Software, Inc.'s open source projects, you must sign the Contributor License Agreement (CLA). The CLA comes in two different varieties - one for individuals (ICLA) and one for corporations (CCLA). The ICLA and CCLA makes everyone's rights clear. Read more about the CLA in the <a href="https://github.com/chef/chef/blob/master/CONTRIBUTING.md#contributor-license-agreement-cla" target="_blank">chef/chef CONTRIBUTING.md</a> document.</p>

    <p>Before signing a CLA, <%= link_to "you must link your GitHub account", link_github_profile_path %> to your Supermarket account. Supermarket uses GitHub's API to check if the authors of commits in a pull request are authorized to contribute to the project. If there are any commit authors in a pull request that have not signed an ICLA or are not a member of a company that has signed the CCLA, the supermarket-chef GitHub user will comment on the pull request letting the users know they need to sign a CLA. If all commit authors are authorized to contribute, it will add a "Signed CLA" label to the issue.</p>

    <p>You are now ready to sign the ICLA or become a contributor on behalf of your company. If you want to contribute as an individual, <%= link_to "all you need to do is sign the ICLA", new_icla_signature_path %>. If you want to contribute on behalf of your company, <%= link_to "check to see if your company has already signed the CCLA", ccla_signatures_path %>. If they have, ask an admin of the company to invite you to join the company on Supermarket. If your company has not signed the CCLA and you are authorized to do so, <%= link_to "sign the CCLA", new_ccla_signature_path %>. Once you have signed the CCLA, you will be able to invite other co-workers to join the CCLA on behalf of your company.</p>

    <p>You can view a list of <%= link_to "all of the contributors", contributors_path %> and <%= link_to "the companies with completed CCLAs", ccla_signatures_path %>. You can also view printable versions of the <%= link_to "ICLA", agreement_icla_signatures_path %> and <%= link_to "CCLA", agreement_ccla_signatures_path %>.</p>
  </div>

  <%= render "contributors/sidebar" %>
</div>
