<%= provide(:title, "All Signatures") %>

<div class="cla_signers_list"  data-equalizer>
  <div class="contributors signers" data-equalizer-watch>
    <%= render 'contributors_list_heading' %>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Signed ICLA, CCLA or Both</th>
          <th>GitHub</th>
          <th>Jira</th>
        </tr>
      </thead>
      <tbody>
        <% @all_signers.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td>
              <% if user.signed_icla? && !user.signed_ccla? %>
                ICLA
              <% elsif !user.signed_icla? && user.signed_ccla? %>
                CCLA
              <% elsif user.signed_icla? && user.signed_ccla? %>
                Both
              <% end %>
            </td>
            <td>
              <% user.accounts.for('github').each do |account| %>
                <%= link_to account.username, "https://www.github.com/#{account.username}", target: :blank %>
              <% end %>
            </td>
            <td><%= user.jira_username %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= render "contributors/sidebar" %>
</div>

