<%= provide(:title, "All Signatures") %>

<div class="page contribute" data-equalizer>
  <div class="main" data-equalizer-watch>
    <%= render 'contributors_list_heading' %>

    <div class="tabs-content">
      <div class="content active">
        <table>
          <thead>
            <tr>
              <th>Chef Username</th>
              <th>GitHub</th>
            </tr>
          </thead>
          <tbody>
            <% @contributor_list.each do |user, chef_account, github_accounts| %>
              <tr class="contributor">
                <td><%= link_to chef_account.username, user_path(id: chef_account.username) %></td>
                <td>
                  <% github_accounts.each_with_index do |account, index| %>
                    <% if index == github_accounts.count - 1 %>
                      <a href="https://github.com/<%= account.username %>" target="_blank"><%= account.username %></a>
                    <% else %>
                      <a href="https://github.com/<%= account.username %>" target="_blank"><%= account.username %></a>,
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <%= paginate @contributors %>
      </div>
    </div>
  </div>

  <%= render "contributors/sidebar" %>
</div>
