<%= provide(:title, "Manage Profile") %>

<div class="page profile" data-equalizer>
  <%= render 'users/sidebar' %>

  <div class="main" data-equalizer-watch>
    <h1>Manage Profile</h1>

    <dl class="tabs radius" data-tab>
      <dd class="active"><a href="#profile" rel="manage_profile">Edit Profile</a></dd>
      <dd><a href="#github-accounts" rel="manage_github_accounts">GitHub Accounts</a></dd>
      <dd><a href="#agreements" rel="manage_agreements">Agreements</a></dd>
      <dd><a href="#collaborations" rel="manage_collaborations">Collaborations</a></dd>
    </dl>

    <div class="tabs-content">
      <div class="content active" id="profile">
        <%= form_for(current_user, url: profile_path, html: { 'data-abide' => true }) do |f| %>
          <%= render 'application/form_errors', record: current_user %>

          <p>Your email, password and name are maintained and managed by your Chef account. <a href="https://www.getchef.com/account">Edit them here.</a> They will be updated the next time you sign in to Supermarket. Avatars are powered by <%= link_to 'Gravatar', 'https://www.gravatar.com' %>.</p>

          <fieldset>
            <div class="company-field">
              <%= f.text_field :company, placeholder: 'Company', title: 'Company' %>
            </div>
            <div class="twitterusername-field">
              <%= f.text_field :twitter_username, placeholder: 'Twitter Username', title: 'twitter username' %>
            </div>
            <div class="ircnickname-field">
              <%= f.text_field :irc_nickname, placeholder: 'IRC Nickname', title: 'irc nickname' %>
            </div>
            <div class="jirausername-field">
              <%= f.text_field :jira_username, placeholder: 'JIRA Username', title: 'jira username' %>
            </div>
            <div class="emailnotification-field">
              <%= f.check_box :email_notifications %>
              <%= label_tag :user_email_notifications, "Receive email notifications." %>
            </div>
          </fieldset>
          <%= f.submit 'Update Profile', class: 'button primary radius' %>
        <% end %>
      </div>
      <div class="content" id="github-accounts">
        <p>You must have at least one linked GitHub account in order for us to match your contributions on GitHub with your signed Contributors License Agreement.</p>
        <table>
          <% current_user.accounts.for('github').each do |account| %>
            <tr>
              <td><i class="fa fa-github"></i> <%= account.username %></td>
              <td class="text-right"><%= link_to 'Disconnect This Account', user_account_url(current_user, account), method: :delete, rel: 'disconnect_github', class: 'button tiny alert radius' %></td>
            </tr>
          <% end %>
        </table>

        <%= link_to '<i class="fa fa-github"></i> Connect GitHub Account'.html_safe, auth_path(:github), class: 'button radius', rel: 'connect_github' %>
      </div>
      <div class="content" id="agreements">
        <table>
          <% if current_user.signed_icla? %>
            <tr>
              <td>Signed ICLA on <%= current_user.latest_icla_signature.signed_at.to_s(:longish) %></td>
              <td class="text-right"><%= link_to "Update ICLA Signature", current_user.latest_icla_signature, class: 'button tiny secondary radius' %></td>
            </tr>
          <% else %>
            <p>You have not signed the Individual Contributor License Agreement (ICLA) yet. If you are interested in contributing to Chef's open source projects as an individual, <%= link_to "you must sign the ICLA", new_icla_signature_path %>.</p>
          <% end %>

          <% unless current_user.contributor? %>
            <p>You are not a member of a Corporate Contributor License Agreement (CCLA). If you want to contribute to Chef's open source projects on behalf of your company, <%= link_to "ask an admin of your company to invite you", ccla_signatures_path %> to join your company's CCLA. If your company has not yet signed the CCLA, <%= link_to "an authorized individual must first sign the CCLA", new_ccla_signature_path %>.</p>
          <% end %>

          <% current_user.contributors.each do |contributor| %>
            <% if contributor.admin? %>
              <tr>
                <td>Admin of <%= contributor.organization.name %>, signed CCLA on <%= contributor.organization.latest_ccla_signature.signed_at.to_s(:longish) %></td>
                <td class="text-right">
                  <ul class="button-group radius right">
                    <li><%= link_to "Update CCLA Signature", contributor.organization.latest_ccla_signature, class: 'button tiny secondary' %></li>
                    <li><%= link_to "Manage Contributors", organization_invitations_url(contributor.organization), rel: 'invite_contributors', class: 'button tiny secondary' %></li>
                  </ul>
                </td>
              </tr>
            <% else %>
              <tr>
                <td>Contributor on behalf of <%= contributor.organization.name %>, signed CCLA on <%= contributor.organization.latest_ccla_signature.signed_at.to_s(:longish) %></td>
                <td class="text-right"><%= link_to "View CCLA Signature", contributor.organization.latest_ccla_signature, class: 'button tiny secondary radius' %></td>
              </tr>
            <% end %>
          <% end %>
        </table>

        <% if @pending_requests.present? %>
          <hr />
          <h2>Pending Requests To Join a Company</h2>

          <p>Requests to join a company to contribute on behalf of.</p>

          <ul class="pending-requests">
            <% @pending_requests.each do |request| %>
              <li class="pending-request">You requested to join <%= link_to request.organization.name, contributors_ccla_signature_path(request.organization) %> on <%= request.created_at.to_s(:longish) %></li>
            <% end %>
          </ul>
        <% end %>

      </div>
      <div class="content" id="collaborations">

        <% if current_user.collaborated_cookbooks.empty? %>
          <p>You are currently not a collaborator on any cookbooks. Once you are, they will be listed here.</p>
        <% else %>
          <p>The cookbooks you are a collaborator on.</p>

          <table>
            <% current_user.collaborated_cookbooks.each do |cookbook| %>
              <tr>
                <td><%= link_to cookbook.name, cookbook_path(cookbook) %></td>
                <td class="text-right"><%= link_to 'Remove Myself as a Contributor', cookbook_collaborator_path(cookbook, current_user), remote: true, method: :delete, class: 'button tiny alert radius' %></td>
              </tr>
            <% end %>
          </table>
        <% end %>
      </div>
    </div>
  </div>
</div>
