<div class="page">
  <div class="title">
    <span class="fa fa-user"></span> Edit Profile
  </div>

  <div class="content">
    <%= form_for(current_user, url: profile_path) do |f| %>
      <%= render 'application/form_errors', record: current_user %>

      <section class="fields">
        <fieldset>
          <%= f.text_field :email, placeholder: 'Email', title: 'Email' %>
          <%= f.text_field :first_name, placeholder: 'First Name', title: 'First Name' %>
          <%= f.text_field :last_name, placeholder: 'Last Name', title: 'Last Name' %>
          <%= f.text_field :irc_nickname, placeholder: 'IRC Nickname', title: 'IRC Nickname' %>
          <%= f.text_field :company, placeholder: 'Company', title: 'Company' %>
          <%= f.text_field :jira_username, placeholder: 'JIRA Username', title: 'JIRA Username' %>

          <%= f.telephone_field :phone, placeholder: 'Phone *', title: 'Phone' %>
          <%= f.text_field :address_line_1, placeholder: 'Address Line 1 *', title: 'Address Line 1' %>
          <%= f.text_field :address_line_2, placeholder: 'Address Line 2', title: 'Address Line 2' %>
          <%= f.text_field :city, placeholder: 'City *', title: 'City' %>
          <%= f.text_field :state, placeholder: 'State or Province *', title: 'State or Province' %>
          <%= f.text_field :zip, placeholder: 'Postal Code *', title: 'Postal Code' %>
          <%= f.text_field :country, placeholder: 'Country *', title: 'Country' %>

          <p>Avatars are powered by <a href='https://gravatar.com'>Gravatar</a>.
            <%= gravatar_for current_user, size: 72 %></p>
        </fieldset>
      </section>

      <section>
        <%= f.submit 'Update Profile', class: 'button primary' %>
      </section>
    <% end %>

    <%= form_for(current_user, url: change_password_profile_path) do |f| %>
      <section class="fields">
        <fieldset>
          <h4>Change Password</h4>
          <%= f.password_field :current_password, placeholder: 'Current password' %>
          <%= f.password_field :password, placeholder: 'New Password' %>
          <%= f.password_field :password_confirmation, placeholder: 'Password confirmation' %>
        </fieldset>
      </section>

      <section>
        <%= f.submit 'Change Password', class: 'button primary' %>
      </section>
    <% end %>
  </div>
</div>

