<!DOCTYPE html>
<html>
<head>
  <title>Supermarket</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if logged_in? %>
    <p align="center">Logged in as <%= current_user.name %> | <%= link_to 'Logout', logout_path, method: :delete %><p>
    <p align="center"><%= link_to 'Sign ICLA', new_icla_signature_path %></p>
  <% end %>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
</body>
</html>
